body {
    background-color: var(--deepDarkBlue);
}

#header {
    display: flex;
    position: absolute;
    width: 100vw;
    height: 3.75vw;
    top: 1.45833vw;
    overflow: hidden;
}

#header-logo {
    position: absolute;
    left: 1.45833vw;
    object-fit: contain;
    cursor: pointer;
}

#header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40vw;
    position: absolute;
    top: 1.45833vw;
    left: 56.09375vw;
}

.header-text {
    color: var(--blue);
    font-weight: 400;
    font-size: 1.66667vw;
    cursor: pointer;
}

#header-dividing-line {
    height: 2.29167vw;
    width: 0.1vw;
    background-color: var(--darkBlue);
    position: absolute;
    top: 1.15vw;
    right: 8.6vw;
}

#first-section {
    position: relative;
    width: 100vw;
    height: 56.25vw;
}

#background-gradient {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#central-img-first-section {
    position: absolute;
    left: 29.16667vw;
    top: 7.29167vw;
    width: 41.66667vw;
    height: 41.66667vw;
    object-fit: contain;
    pointer-events: none;
    z-index: 1;
}

#central-text-first-section {
    position: absolute;
    width: 18.07292vw;
    height: 5.05208vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: var(--lightBlue);
    top: 26vw;
    left: 41vw;
    z-index: 2;
}


#central-text-first-section-up {
    font-size: 1.875vw;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

#central-text-first-section-down {
    font-size: 1.25vw;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

#second-section {
    position: relative;
    width: 100vw;
    height: 56.25vw;
}

#second-section-title {
    position: absolute;
    font-weight: 500;
    font-size: 2.1875vw;
    top: 11.45833vw;
    left: 7.29167vw;
    color: var(--blue);
}

#second-section-text {
    position: absolute;
    width: 37.96875vw;
    height: 14.6875vw;
    top: 15.67708vw;
    left: 7.29167vw;
    color: var(--blue);
    font-weight: 400;
    font-size: 1.875vw;
    line-height: 2.39583vw;
}

#second-section-logo {
    width: 33.22917vw;
    height: 25.26042vw;
    position: absolute;
    top: 11.45833vw;
    left: 56.77083vw;
}

#second-section-button-services,
#second-section-button-contacts {
    position: absolute;
    width: 14.0625vw;
    height: 3.59375vw;
    top: 32.96875vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.875vw;
    cursor: pointer;
    background-color: var(--deepDarkBlue);
    transition: background-color 0.4s ease-in-out;

    &>p {
        transition: color 0.4s ease-in-out;
    }
}

#second-section-button-services {
    box-shadow: 0px 0px 8px 3px var(--blue);
    left: 7.29167vw;

    &>p {
        color: var(--blue);
    }
}

#second-section-button-services:hover {
    background-color: var(--darkBlue);

    &>p {
        color: #00A5FF;
    }
}

#second-section-button-contacts {
    box-shadow: 0px 0px 8px 3px var(--orangeRed);
    left: 24.11458vw;

    &>p {
        color: var(--orangeRed);
    }
}

#second-section-button-contacts:hover {
    background-color: #A13B02;

    &>p {
        color: #FF945B;
    }
}

#third-section {
    position: relative;
    width: 100vw;
    height: 83.95833vw;
    background: linear-gradient(180deg, #000D15 0%, #000D15 4.39%, #002D49 33%, #000D15 62.8%, #000D15 100%);
}