body {
    background-color: var(--deepDarkBlue);
}

#header-first-section {
    display: flex;
    position: absolute;
    width: 100vw;
    height: 3.75vw;
    top: 1.45833vw;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#header-logo-first-section {
    position: absolute;
    left: 1.45833vw;
    object-fit: contain;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#header-navigation-first-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40vw;
    position: absolute;
    top: 1.45833vw;
    left: 56.09375vw;
}

.header-text-first-section {
    color: var(--blue);
    font-weight: 400;
    font-size: 1.66667vw;
    cursor: pointer;
    opacity: 0;
    transition: color 0.5s ease-in-out, opacity 0.3s ease-in-out;
}

.header-text-first-section:hover {
    color: var(--orangeRed);
}

#header-dividing-line-first-section {
    height: 2.29167vw;
    width: 0.1vw;
    background-color: var(--darkBlue);
    position: absolute;
    top: 1.15vw;
    right: 8.6vw;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#first-section {
    position: relative;
    width: 100vw;
    height: 56.25vw;
}

#background-gradient {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

#ikigai-logo-text {
    position: absolute;
    top: 26.04167vw;
    left: 29.16667vw;
    opacity: 0;
    transition: left 0.5s ease-in-out, opacity 0.7s ease-in-out;
}

#animation-text {
    font-weight: 400;
    color: var(--lightBlue);
    position: absolute;
    opacity: 0;
    font-size: 1.45833vw;
    top: 27.54167vw;
    left: 40.16667vw;
    z-index: 10;
    transition: opacity 0.5s ease-in-out;
}

#creative-logo-text {
    position: absolute;
    top: 26.04167vw;
    left: 47.39583vw;
    opacity: 0;
    transition: left 0.5s ease-in-out, opacity 0.7s ease-in-out;
}


#central-img-first-section {
    position: absolute;
    left: 29.16667vw;
    top: 7.29167vw;
    width: 41.66667vw;
    height: 41.66667vw;
    object-fit: contain;
    pointer-events: none;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, rotate 1.8s ease-in-out;
}

#central-text-first-section {
    position: absolute;
    width: 18.07292vw;
    height: 5.05208vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: var(--lightBlue);
    top: 26vw;
    left: 40.9375vw;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}


#central-text-first-section-up {
    font-size: 1.875vw;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

#central-text-first-section-down {
    font-size: 1.25vw;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

#second-header {
    display: none;
    position: fixed;
    top: 1.5625vw;
    left: 1.5625vw;
    width: 100vw;
    height: 3.75vw;
    overflow: hidden;
    z-index: 5;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#second-header-logo-hover {
    position: absolute;
    left: 1.45833vw;
    object-fit: contain;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
    pointer-events: all;
    z-index: 7;
}

#second-header-logo-hover:hover {
    opacity: 1;
}

#second-header-logo-activ {
    position: absolute;
    left: 1.45833vw;
    object-fit: contain;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: all;
    z-index: 6;
}

#second-header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 48vw;
    position: absolute;
    top: 1.45833vw;
    left: 47.96875vw;
}

.second-header-text {
    color: var(--blue);
    font-weight: 400;
    font-size: 1.66667vw;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, color 0.5s ease-in-out;
}

.second-header-text-none-clickable {
    color: #004C76 !important;
    cursor: default !important;
}

.second-header-text:not(.second-header-text-none-clickable):hover {
    color: var(--orangeRed);
}

#second-header-dividing-line {
    height: 2.29167vw;
    width: 0.1vw;
    background-color: var(--darkBlue);
    position: absolute;
    top: 1.15vw;
    right: 8.6vw;
    opacity: 0;
    transition: color 0.5s ease-in-out;
}

#second-section {
    position: relative;
    width: 100vw;
    height: 56.25vw;
}

#second-section-title {
    position: absolute;
    display: flex;
    font-weight: 500;
    font-size: 2.1875vw;
    top: 11.45833vw;
    left: 7.29167vw;
    color: var(--blue);
    transition: opacity 0.1s ease-in-out;

    &>div {
        opacity: 0;
    }
}

#letter-w {
    margin-left: 1vw;
}

#letter-A {
    margin-left: 1vw;
}

#second-section-text {
    position: absolute;
    width: 37.96875vw;
    height: 14.6875vw;
    top: 15.67708vw;
    left: 7.29167vw;
    color: var(--blue);
    font-weight: 400;
    font-size: 1.875vw;
    line-height: 2.39583vw;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#second-section-logo {
    width: 33.22917vw;
    height: 25.26042vw;
    position: absolute;
    top: 11.45833vw;
    left: 56.77083vw;
}

#second-section-button-services,
#second-section-button-contacts {
    position: absolute;
    width: 14.0625vw;
    height: 3.59375vw;
    top: 32.96875vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.875vw;
    cursor: pointer;
    background-color: var(--deepDarkBlue);
    transition: background-color 0.4s ease-in-out;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    &>p {
        transition: color 0.4s ease-in-out;
    }
}

#second-section-button-services {
    box-shadow: 0px 0px 8px 3px var(--blue);
    left: 7.29167vw;

    &>p {
        color: var(--blue);
    }
}

#second-section-button-services:hover {
    background-color: var(--darkBlue);

    &>p {
        color: #00A5FF;
    }
}

#second-section-button-contacts {
    box-shadow: 0px 0px 8px 3px var(--orangeRed);
    left: 24.11458vw;

    &>p {
        color: var(--orangeRed);
    }
}

#second-section-button-contacts:hover {
    background-color: #A13B02;

    &>p {
        color: #FF945B;
    }
}

#third-section {
    position: relative;
    width: 100vw;
    height: 83.95833vw;
    background: linear-gradient(180deg, #000D15 0%, #000D15 4.39%, #002D49 33%, #000D15 62.8%, #000D15 100%);
}


#third-section-title {
    position: absolute;
    top: 3.125vw;
    left: 7.29167vw;
    font-weight: 500;
    font-size: 2.1875vw;
    color: var(--blue);
}

#third-section-main-content {
    position: absolute;
    width: 85.41667vw;
    height: 34.89583vw;
    top: 9.6875vw;
    left: 7.29167vw;
    display: flex;
    justify-content: space-between;
    overflow: visible;
    perspective: 52.08333vw;

    &>#third-section-main-content-left-part {
        width: 34.89583vw;
        height: 34.89583vw;
        background: linear-gradient(145.28deg, rgba(0, 34, 53, 0.8) 18.9%, rgba(0, 17, 27, 0.6) 95.94%);
        box-shadow: 0px 0px 8px 0px var(--blue);    
        transform-style: preserve-3d;
        animation: rotate 3s infinite linear;
        transform-origin: left;
        transform: rotate3d(0, 1, 0, 30deg);
    }

    &>#third-section-main-content-right-part {
        width: 45.3125vw;

        &>#third-section-main-content-right-part-line {
            position: absolute;
            width: 0.1vw;
            height: 32.29167vw;
            margin-left: 46.3125vw;
            background: linear-gradient(to bottom, #005786 0%, #009AEC 56%, #005786 100%);
        }

        &>#third-section-main-content-right-part-title {
            margin-left: 26.04167vw;
            font-weight: 400;
            font-size: 1.875vw;
            color: var(--secondBlue);
            text-align: right;
        }

        &>#third-section-main-content-right-part-paragraph {
            font-size: 1.875vw;
            font-weight: 300;
            height: 18.125vw;
            display: flex;
            justify-content: flex-end;
            align-items: end;
            flex-wrap: wrap;
            color: var(--secondBlue);
            text-align: right;
            line-height: 2.44792vw;
        }

        &>#third-section-main-content-right-part-button-order,
        &>#third-section-main-content-right-part-button-more {
            width: 14.0625vw;
            height: 3.59375vw;
            font-weight: 600;
            font-size: 1.875vw;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--secondBlue);
            background-color: rgba(0, 13, 21, 0.4);
            box-shadow: 0px 0px 8px 3px rgba(2, 133, 204, 1);
            overflow: visible;
            position: absolute;
            top: 28.69792vw;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
        }

        &>#third-section-main-content-right-part-button-order {
            left: 51.04167vw;
        }

        &>#third-section-main-content-right-part-button-order:hover {
            background-color: var(--darkBlue);
            color: #00A5FF;
        }

        &>#third-section-main-content-right-part-button-more {
            left: 67.70833vw;
        }

        &>#third-section-main-content-right-part-button-more:hover {
            background-color: var(--darkBlue);
            color: #00A5FF;
        }

    }
}

#third-section-lower-part {
    position: absolute;
    width: 85.41667vw;
    height: 15.625vw;
    left: 7.29167vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 51.875vw;
    overflow: visible;


    &>.third-section-main-content-div {
        height: 15.625vw;
        width: 15.625vw;
        background-color: rgba(0, 83, 128, 0.05);
        box-shadow: 0px 0px 8px 0px var(--blue);
    }
}


#four-section {
    position: relative;
    width: 100vw;
    height: 56.25vw;
}

#four-section-title {
    font-weight: 500;
    font-size: 2.1875vw;
    color: var(--blue);
    position: absolute;
    top: 2.60417vw;
    left: 7.29167vw;
}

#four-section-backgound-gradient-one {
    position: absolute;
    width: 100vw;
    height: 41.66667vw;
    top: 9.16667vw;
    left: 0;
    z-index: 1;
    background: linear-gradient(90deg, rgba(2, 133, 204, 0.2) 0%, rgba(236, 82, 0, 0.2) 100%);
}

#four-section-backgound-gradient-two {
    position: absolute;
    width: 100vw;
    height: 41.66667vw;
    top: 9.16667vw;
    left: 0;
    z-index: 1;
    background: linear-gradient(1.03deg, #010D15 0.93%, rgba(1, 13, 21, 0.2) 50.51%, #010D15 99.17%);
}

#main-send-form {
    position: absolute;
    width: 50.52083vw;
    height: 41.66667vw;
    top: 9.16667vw;
    left: 7.29167vw;
    background-color: rgba(0, 83, 128, 0.07);
    border: 0.10417vw solid rgba(0, 154, 236, 0.5);
    z-index: 2;
}

#main-send-form-title {
    font-weight: 400;
    font-size: 1.875vw;
    color: var(--blue);
    margin-top: 2.34375vw;
    margin-left: 2.34375vw;
    position: absolute;
}

#main-send-form-svg {
    position: absolute;
    object-fit: contain;
    pointer-events: none;
    width: 2.60417vw;
    height: 2.60417vw;
    margin-top: 2.3vw;
    margin-left: 45.3125vw;
}

#input-first-name,
#input-last-name,
#input-phone,
#input-email {
    width: 21.61458vw;
    height: 3.125vw;
    position: absolute;
    font-weight: 300;
    font-size: 1.5625vw;
    color: var(--blue);
    border-bottom: 0.05208vw solid var(--blue);
    padding-left: 0.52083vw;

    &::placeholder {
        font-size: 1.5625vw;
        color: var(--darkBlue);
        font-weight: 300;
    }
}

#input-first-name {
    margin-top: 7.29167vw;
    margin-left: 2.34375vw;
}

#input-last-name {
    margin-top: 7.29167vw;
    margin-left: 26.30208vw;
}

#input-phone {
    margin-top: 12.23958vw;
    margin-left: 2.34375vw;
}

#input-email {
    margin-top: 12.23958vw;
    margin-left: 26.30208vw;
}

#choice-serveces-title {
    width: 21.61458vw;
    height: 3.125vw;
    position: absolute;
    color: var(--blue);
    font-weight: 300;
    font-size: 1.5625vw;
    margin-top: 17.1875vw;
    margin-left: 2.86458vw;
}

#choice-of-service {
    width: 21.61458vw;
    height: 3.125vw;
    position: absolute;
    margin-top: 17.1875vw;
    margin-left: 26.30208vw;
    border-bottom: 0.05208vw solid var(--blue);
    padding-left: 0.52083vw;
    padding-right: 0.52083vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    &>#choice-of-service-placeholder {
        color: var(--darkBlue);
        font-weight: 300;
        font-size: 1.5625vw;
    }

    &>#choice-of-service-arrow {
        object-fit: contain;
        width: 0.83333vw;
        height: 0.83333vw;
        pointer-events: all;

    }
}

#textarea-title {
    font-weight: 300;
    font-size: 1.5625vw;
    color: var(--blue);
    position: absolute;
    margin-top: 22.13542vw;
    margin-left: 2.86458vw;
}

#textarea {
    width: 45.83333vw;
    height: 7.77083vw;
    position: absolute;
    margin-top: 24vw;
    margin-left: 2.86458vw;
    overflow: hidden;
    color: var(--darkBlue);
    font-weight: 300;
    line-height: 200%;
    font-size: 1.875vw;
    word-wrap: break-word;
    overflow-y: hidden;
    padding-top: 0.78125vw;

    &::placeholder {
        font-size: 1.5625vw;
        color: var(--darkBlue);
        font-weight: 300;
    }
}

#placeholder-textarea {
    width: 45.83333vw;
    height: 3.64583vw;
    background: transparent;
    border-bottom: 0.05208vw solid var(--blue);
    border-top: 0.05208vw solid var(--blue);
    position: absolute;
    margin-top: 28.38542vw;
    margin-left: 2.34375vw;
    pointer-events: none;
    user-select: none;
}

#send-form-submit {
    position: absolute;
    width: 20.83333vw;
    height: 3.59375vw;
    margin-top: 35.05208vw;
    margin-left: 13.85417vw;
    background-color: rgba(0, 13, 21, 0.8);
    border: 0.05208vw solid var(--deepDarkBlue);
    color: var(--darkBlue);
    font-weight: 600;
    font-size: 1.875vw;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.3s ease-in-out;
}

#send-form-submit.send-form-submit-activ {
    color: var(--blue);
    box-shadow: 0px 0px 8px 3px var(--blue);
    border: transparent;
    cursor: pointer;

    &:hover {
        color: #00A5FF;
        background-color: var(--darkBlue);
        box-shadow: 0px 0px 14px 4px var(--blue);
    }

}

#alternative-send-form {
    position: absolute;
    width: 33.07292vw;
    height: 41.66667vw;
    top: 9.16667vw;
    left: 59.63542vw;
    background-color: rgba(127, 45, 0, 0.1);
    border: 0.10417vw solid rgba(236, 82, 0, 0.5);
    z-index: 2;
}

#alternative-send-form-title {
    color: var(--orangeRed);
    position: absolute;
    margin-top: 2.34375vw;
    margin-left: 2.34375vw;
    font-size: 1.875vw;
    font-weight: 400;
    z-index: 2;
}

#alternative-send-form-svg {
    position: absolute;
    width: 2.60417vw;
    height: 2.60417vw;
    margin-top: 2vw;
    margin-left: 27.86458vw;
    display: flex;
    z-index: 3;
}

.alternative-contact-wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    width: 23.80208vw;
    height: 3.125vw;
    margin-left: 2.34375vw;
    cursor: pointer;

    &>svg {
        height: 3.125vw;
        width: 3.125vw;
        object-fit: contain;
        pointer-events: all;

        &.fill path {
            fill: var(--orangeRed);
            transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out;
        }

        &.stroke path {
            stroke: var(--orangeRed);
            transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out;
        }

        & circle {
            stroke: var(--orangeRed);
            transition: stroke 0.3s ease-in-out;
        }
    }

    &>div {
        margin-left: 1.5625vw;
        color: var(--orangeRed);
        font-size: 1.5625vw;
        font-weight: 300;
        transition: color 0.3s ease-in-out;
    }

    &:hover {
        & svg.fill path {
            fill: var(--red);
        }

        & svg.stroke path {
            stroke: var(--red);
        }

        & circle {
            stroke: var(--red);
        }

        & div {
            color: var(--red);
        }
    }
}


#alternative-contact-wrapper-phone {
    margin-top: 7.29167vw;
}

#alternative-contact-wrapper-email {
    margin-top: 11.97917vw;
}

#alternative-contact-wrapper-facebook {
    margin-top: 16.66667vw;
}

#alternative-contact-telegram-wrapper {
    margin-top: 21.35417vw;
}

#alternative-contact-telegram-twitter {
    margin-top: 26.04167vw;
}

#alternative-contact-telegram-vk {
    margin-top: 30.72917vw;
}

#alternative-contact-telegram-whatsapp {
    margin-top: 35.41667vw;
}

#five-section {
    position: relative;
    width: 100vw;
    height: 56.25vw;
}

#five-section-title {
    position: absolute;
    top: 2.60417vw;
    left: 7.29167vw;
    font-weight: 500;
    font-size: 2.1875vw;
    color: var(--blue);
}

#footer {
    position: relative;
    width: 100vw;
    height: 13.33333vw;
}

#footer-content {
    position: absolute;
    width: 85.41667vw;
    height: 5.20833vw;
    left: 7.29167vw;
    top: 8.125vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer-content {
    font-weight: 700;
    font-size: 2.1875vw;
    font-family: Josefin Sans;
    letter-spacing: 0.1em;
    color: var(--blue);
}