#mv-first-section {
    width: 100vw;
    height: 217.4129353233831vw;
    background: linear-gradient(166.39deg, rgba(0, 76, 123, 0.2) 4.94%, rgba(0, 13, 21, 0.2) 14.94%, rgba(0, 13, 21, 0.2) 35.08%, rgba(0, 76, 123, 0.2) 69.97%, rgba(0, 13, 21, 0.2) 89.82%);
    position: relative;
    overflow: visible;


    &>#mv-background-gradient {
        width: 69.15422885572139vw;
        height: 40.547263681592035vw;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(128.05deg, rgba(0, 13, 21, 0) 12.99%, rgba(0, 13, 21, 0.5) 65.25%);
        overflow: visible;
    }

    &>#mv-first-section-img-circle {
        width: 74.6268656716418vw;
        height: 75.36567164179105vw;
        position: absolute;
        top: -35.569651741293534vw;
        left: -31.80348258706468vw;
        transform: rotate(-57deg);
    }

    &>#mv-first-section-logo {
        width: 10.44776119402985vw;
        height: 7.9378109452736325vw;
        position: absolute;
        top: 2.4875621890547266vw;
        left: 2.4875621890547266vw;
    }

    #mv-nav-button {
        width: 8.549751243781094vw;
        height: 7.9378109452736325vw;
        position: absolute;
        top: 2.4875621890547266vw;
        right: 2.4875621890547266vw;
        overflow: visible;

        &>#mv-nav-button-svg {
            width: 100%;
            height: 100%;
            pointer-events: none;
            object-fit: contain;
        }
    }

    &>#mv-first-section-main-title {
        width: 78.6318407960199vw;
        height: 9.950248756218906vw;
        position: absolute;
        top: 98.75621890547264vw;
        left: 13.184079601990051vw;
        font-size: 7.462686567164178vw;
        font-weight: 400;
        line-height: 8.955223880597014vw;
        letter-spacing: 0.15em;
        color: rgba(0, 154, 236, 0.1);
        text-decoration: #005380 solid 50px;
    }

    &>#mv-first-section-subtitle-block-left {
        width: 74.12935323383084vw;
        height: 4.975124378109453vw;
        position: absolute;
        top: 114.92537313432835vw;
        left: 12.686567164179104vw;
        font-size: 4.975124378109453vw;
        font-weight: 400;
        line-height: 4.975124378109453vw;
        color: var(--darkBlue);
        opacity: 0.8;
        transition: top 0.2s ease-in-out, opacity 0.2s ease-in-out;
    }

    &>#mv-first-section-subtitle-block-right {
        width: 74.12935323383084vw;
        height: 4.975124378109453vw;
        position: absolute;
        top: 114.92537313432835vw;
        right: 13.184079601990051vw;
        text-align: right;
        font-size: 4.975124378109453vw;
        font-weight: 400;
        line-height: 4.975124378109453vw;
        color: var(--darkBlue);
        opacity: 0.8;
        transition: top 0.2s ease-in-out, opacity 0.2s ease-in-out;
    }

    &>#mv-first-section-subtitle-second-block-left {
        width: 74.12935323383084vw;
        height: 4.975124378109453vw;
        position: absolute;
        top: 114.92537313432835vw;
        left: 12.686567164179104vw;
        font-size: 4.975124378109453vw;
        font-weight: 400;
        line-height: 4.975124378109453vw;
        background: linear-gradient(90.45deg, #06486C 0.18%, #00141E 44.9%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
    }

    &>#mv-first-section-subtitle-second-block-right {
        width: 74.12935323383084vw;
        height: 4.975124378109453vw;
        position: absolute;
        top: 114.92537313432835vw;
        right: 13.184079601990051vw;
        text-align: right;
        font-size: 4.975124378109453vw;
        font-weight: 400;
        line-height: 4.975124378109453vw;
        background: linear-gradient(90.49deg, #06486C 47.23%, #00141E 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
    }

    &>#mv-navigation-block {
        display: none;
        width: 100vw;
        height: 100dvh;
        position: absolute;
        top: 0;
        left: 100vw;
        transition: left 0.5s ease-in-out;
        background-image: linear-gradient(166.39deg, rgba(0, 76, 123, 0.2) 4.94%, rgba(0, 13, 21, 0.2) 14.94%, rgba(0, 13, 21, 0.2) 35.08%, rgba(0, 76, 123, 0.2) 69.97%, rgba(0, 13, 21, 0.2) 89.82%);
        backdrop-filter: blur(2.4875621890547266vw);

        &>#mv-navigation-block-title {
            width: 31.094527363184078vw;
            height: 2.745995423340961dvh;
            position: absolute;
            top: 4.118993135011442dvh;
            left: 4.975124378109453vw;
            font-size: min(5.970149253731343vw, 2.745995423340961dvh);
            font-weight: 600;
            line-height: 2.745995423340961dvh;
            color: var(--secondBlue);
        }

        &>#mv-navigation-block-lang-button {
            width: 10.945273631840797vw;
            height: 2.745995423340961dvh;
            position: absolute;
            top: 4.118993135011442dvh;
            right: 4.975124378109453vw;
            font-weight: 600;
            font-size: min(5.970149253731343vw, 2.745995423340961dvh);
            line-height: 2.745995423340961dvh;
            color: var(--secondBlue);
        }

        &>#mv-navigation-block-title-line {
            width: 90.04975124378109vw;
            height: 0.11441647597254005dvh;
            position: absolute;
            top: 7.780320366132723dvh;
            left: 4.975124378109453vw;
            background-color: var(--lightBlue);
        }

        &>.mv-navigation-block-item {
            width: 90.04975124378109vw;
            height: 9.382151029748284dvh;
            position: absolute;
            left: 4.975124378109453vw;
            overflow: visible;


            &>.mv-navigation-block-item-title {
                font-weight: 400;
                font-size: min(5.970149253731343vw, 2.745995423340961dvh);
                line-height: 2.745995423340961dvh;
                color: var(--lightBlue);
                position: absolute;
                top: 0;
                left: 0;
            }

            &>.mv-navigation-block-item-text {
                font-weight: 300;
                font-size: min(4.975124378109453vw, 2.2883295194508007dvh);
                line-height: 2.745995423340961dvh;
                color: var(--secondBlue);
                position: absolute;
                left: 0;
                top: 3.8901601830663615dvh;
            }
        }

        &>#mv-navigation-block-item-0 {
            top: 11.899313501144166dvh;
        }

        &>#mv-navigation-block-item-1 {
            top: 25.400457665903893dvh;
        }

        &>#mv-navigation-block-item-2 {
            top: 38.901601830663616dvh;
        }

        &>#mv-navigation-block-item-3 {
            top: 55.1487414187643dvh;
        }

        &>#mv-navigation-block-item-4 {
            top: 68.64988558352402dvh;
        }

        &>.mv-nav-img {
            object-fit: contain;
            width: 12.437810945273633vw;
            height: 5.720823798627003dvh;
            position: absolute;
        }

        &>#mv-nav-img-phone {
            bottom: 12.013729977116705dvh;
            left: 4.975124378109453vw;
        }

        &>#mv-nav-img-email {
            bottom: 12.013729977116705dvh;
            left: 24.191542288557212vw;
        }

        &>#mv-nav-img-facebook {
            bottom: 12.013729977116705dvh;
            left: 43.407960199004975vw;
        }

        &>#mv-nav-img-telegram {
            bottom: 12.013729977116705dvh;
            right: 24.937810945273633vw;
        }

        &>#mv-nav-img-x {
            bottom: 12.013729977116705dvh;
            right: 5.721393034825871vw;
        }

        &>#mv-nav-img-vk {
            bottom: 3.203661327231121dvh;
            left: 33.83084577114428vw;
        }

        &>#mv-nav-img-whatsapp {
            bottom: 3.203661327231121dvh;
            right: 34.32835820895522vw;
        }
    }
}

#mv-second-section {
    width: 100vw;
    height: 217.4129353233831vw;
    position: relative;

    &>#mv-second-section-title {
        font-weight: 400;
        font-size: 5.970149253731343vw;
        color: var(--blue);
        position: absolute;
        top: 9.950248756218906vw;
        left: 12.437810945273633vw;
    }

    &>.mv-second-section-text {
        font-weight: 300;
        font-size: 5.970149253731343vw;
        line-height: 8.358208955223882vw;
        position: absolute;
        left: 12.437810945273633vw;
        color: var(--blue);
    }

    &>#mv-second-section-text-0 {
        top: 25.870646766169152vw;
    }

    &>#mv-second-section-text-1 {
        top: 73.13432835820896vw;
    }

    &>#mv-second-section-img {
        object-fit: contain;
        width: 75.12437810945273vw;
        height: 57.06716417910448vw;
        position: absolute;
        bottom: 43.430348258706466vw;
        left: 12.437810945273633vw;
    }

    &>#mv-second-section-button-services {
        width: 74.6268656716418vw;
        height: 9.950248756218906vw;
        position: absolute;
        bottom: 23.383084577114428vw;
        left: 12.437810945273633vw;
        border: 0.24875621890547264vw solid var(--blue);
        text-align: center;
        color: var(--blue);
        font-weight: 600;
        font-size: 4.975124378109453vw;
        line-height: 4.975124378109453vw;
    }

    &>#mv-second-section-button-contacts {
        width: 74.6268656716418vw;
        height: 9.950248756218906vw;
        position: absolute;
        bottom: 8.45771144278607vw;
        left: 12.437810945273633vw;
        border: 0.24875621890547264vw solid var(--orangeRed);
        text-align: center;
        color: var(--orangeRed);
        font-weight: 600;
        font-size: 4.975124378109453vw;
        line-height: 4.975124378109453vw;
    }
}