#mh-first-section {
    width: 100.0vw;
    height: 45.9954233409611vw;
    position: relative;
    background: linear-gradient(180deg, #E7EFF3 0%, #D8E9F1 50.42%);


    &>#mh-first-section-background {
        object-fit: contain;
        width: 77.39816933638444vw;
        height: 39.94050343249428vw;
        position: absolute;
        top: 6.0949656750572085vw;
        left: 5.720823798627003vw;
    }

    &>#mh-first-section-navigation-button {
        width: 4.576659038901601vw;
        height: 4.252860411899314vw;
        pointer-events: all;
        object-fit: contain;
        position: fixed;
        top: 2.2883295194508007vw;
        right: 2.2883295194508007vw;
        opacity: 1;
        transition: opacity ease-in-out 0.3s;
        z-index: 12;
    }

    &>#mh-first-section-ikigai {
        object-fit: contain;
        position: absolute;
        width: 2.517162471395881vw;
        height: 26.08695652173913vw;
        top: 12.929061784897025vw;
        right: 3.318077803203661vw;
    }

    &>#mh-first-section-text {
        position: absolute;
        width: 30.09153318077803vw;
        height: 4.233409610983982vw;
        bottom: 1.7162471395881007vw;
        left: 29.290617848970253vw;
        font-size: 3.203661327231121vw;
        font-weight: 400;
        display: flex;
        text-align: center;
        justify-content: center;
        color: var(--ltText);
        opacity: 1;
        overflow: visible;
        transition: opacity 0.3s ease-in-out;
    }
}

#mh-second-section {
    width: 100.0vw;
    height: 45.9954233409611vw;
    position: relative;
    background: linear-gradient(180deg, #D8E9F1 0%, #FCFDFD 100%);



    &>#mh-second-section-background {
        object-fit: contain;
        width: 77.48512585812357vw;
        height: 37.86842105263158vw;
        position: absolute;
        top: 0.6864988558352403vw;
        left: 5.720823798627003vw;
    }

    &>#mh-second-section-creative {
        object-fit: contain;
        position: absolute;
        width: 2.517162471395881vw;
        height: 35.46910755148742vw;
        top: 0;
        right: 3.318077803203661vw;
    }

    &>#mh-second-section-text {
        position: absolute;
        width: 21.62471395881007vw;
        height: 3.6613272311212817vw;
        top: 0.5720823798627002vw;
        left: 33.52402745995423vw;
        font-size: 2.745995423340961vw;
        font-weight: 400;
        display: flex;
        text-align: center;
        overflow: visible;
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
        justify-content: center;
        color: var(--ltText);
    }
}

#mh-navigation-block {
    display: none;
    z-index: 10;
    top: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    width: 100.0vw;
    height: 45.9954233409611vw;
    background: linear-gradient(180deg, #e7eff3cb 0%, #d8e9f1d8 50.42%);
    backdrop-filter: blur(0.6720823798627002vw);
    transition: opacity ease-in-out 0.3s;

    &>#mh-navigation-block-title {
        position: absolute;
        width: 11.297482837528605vw;
        height: 2.745995423340961vw;
        top: 3.4324942791762014vw;
        left: 2.2883295194508007vw;
        font-size: 2.059496567505721vw;
        font-weight: 600;
        color: var(--ltText);
    }

    &>#mh-navigation-block-night-mode-wrapper {
        width: 17.391304347826086vw;
        height: 2.402745995423341vw;
        position: relative;
        margin-top: 3.775743707093822vw;
        margin-left: 59.26773455377574vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: visible;

        &>#mh-navigation-block-night-mode-moon {

            object-fit: contain;
            width: 2.059496567505721vw;
            height: 2.059496567505721vw;
        }

        &>#mh-navigation-block-night-mode-text {
            width: auto;
            height: 2.402745995423341vw;
            font-size: 1.8306636155606408vw;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--ltText);
        }

        &>#mh-navigation-block-night-mode-switch-button-wrapper {
            width: 2.9748283752860414vw;
            height: 1.8306636155606408vw;
            overflow: visible;

            &>#mh-navigation-block-night-mode-switch-button-back {
                width: 100%;
                height: 100%;
            }

            &>#mh-navigation-block-night-mode-switch-button-face {
                width: 1.8306636155606408vw;
                height: 1.8306636155606408vw;
                position: absolute;
                top: 0.5vw;
                right: 1.1vw;
                transition: right 0.3s ease-in-out;
            }
        }
    }

    &>#mh-navigation-block-language-wrapper {
        position: absolute;
        top: 3.775743707093822vw;
        right: 2.2883295194508007vw;
        width: 17.620137299771166vw;
        height: 2.402745995423341vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 15;

        &>#mh-navigation-block-language-svg {
            width: 2.059496567505721vw;
            height: 2.059496567505721vw;
            object-fit: contain;
        }

        &>#mh-navigation-block-language-text {
            width: 8.937986270022883vw;
            height: 2.402745995423341vw;
            font-weight: 600;
            font-size: 1.8306636155606408vw;
            color: var(--ltText);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &>#mh-navigation-block-language-button {
            font-weight: 600;
            font-size: 1.8306636155606408vw;
            color: var(--ltText);
            height: 2.402745995423341vw;
            width: 3.203661327231121vw;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &>#mh-navigation-block-main-content-wrapper {
        position: absolute;
        top: 11.899313501144166vw;
        left: 2.2883295194508007vw;
        width: 95.53775743707094vw;
        height: 25.171624713958813vw;
        overflow: visible;
        position: absolute;

        &>.mh-navigation-block-main-content-item {
            height: 25.171624713958813vw;
            width: 20.022883295194507vw;
            overflow: visible;
            position: absolute;

            &>.mh-navigation-block-main-content-item-title {
                width: 9.610983981693364vw;
                height: 2.745995423340961vw;
                font-size: 2.059496567505721vw;
                font-weight: 400;
                color: var(--ltText);
                margin-left: 2.2883295194508007vw;
            }

            &>.mh-navigation-block-main-content-item-text {
                width: 15.446224256292906vw;
                height: 18.306636155606405vw;
                font-size: 2.059496567505721vw;
                font-weight: 400;
                color: var(--ltText);
                line-height: 2.9290617848970255vw;
                margin-left: 2.2883295194508007vw;
                margin-top: 2.2883295194508007vw;
                overflow: visible;
            }

            &>.mh-navigation-block-main-content-item-line {
                width: 0.11441647597254005vw;
                height: 25.171624713958813vw;
                position: absolute;
                right: 0;
                top: 0;
                background-color: var(--ltSeparationLine);
            }
        }

        &>#mh-navigation-block-main-content-intro {
            left: 0;
        }

        &>#mh-navigation-block-main-content-about-us {
            left: 20.022883295194507vw;
        }

        &>#mh-navigation-block-main-content-services {
            left: 40.045766590389015vw;
        }

        &>#mh-navigation-block-main-content-contacts {
            left: 60.068649885583525vw;
        }

        &>#mh-navigation-block-main-content-reviews {
            left: 80.09153318077803vw;
        }
    }
}

#mh-third-section {
    width: 100.0vw;
    height: 45.9954233409611vw;
    position: relative;
    background:
        linear-gradient(180deg, rgba(252, 253, 253, 0.1) 0%, rgba(0, 136, 204, 0.02) 52.95%, rgba(243, 243, 243, 0.1) 99%),
        radial-gradient(67.13% 50% at 72.77% 50%, rgba(0, 136, 204, 0.1) 28.5%, rgba(243, 243, 243, 0) 100%),
        radial-gradient(63.05% 43.41% at 37.01% 56.59%, rgba(0, 136, 204, 0.1) 0%, rgba(243, 243, 243, 0) 100%),
        linear-gradient(0deg, #FCFDFD, #FCFDFD);


    &>#mh-third-section-title {
        position: absolute;
        top: 4.576659038901601vw;
        left: 5.720823798627003vw;
        font-size: 2.059496567505721vw;
        font-weight: 600;
        letter-spacing: 0.1em;
        width: 14.729977116704806vw;
        height: 2.745995423340961vw;
    }

    &>#mh-third-section-text-0 {
        position: absolute;
        width: 34.89702517162471vw;
        height: 9.610983981693364vw;
        top: 9.610983981693364vw;
        left: 5.720823798627003vw;
        font-size: 1.8306636155606408vw;
        font-weight: 400;
        letter-spacing: 0.1em;
        color: var(--ltText);
        overflow: hidden;
    }

    &>#mh-third-section-text-1 {
        position: absolute;
        width: 34.89702517162471vw;
        height: auto;
        top: 20.36613272311213vw;
        left: 5.720823798627003vw;
        font-size: 1.8306636155606408vw;
        font-weight: 400;
        letter-spacing: 0.1em;
        color: var(--ltText);
    }

    &>#mh-third-section-button-services {
        width: 16.018306636155607vw;
        height: 3.8901601830663615vw;
        position: absolute;
        top: 32.151029748283754vw;
        left: 5.720823798627003vw;
        background: var(--dtSeparationLine);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.8306636155606408vw;
        font-weight: 600;
        letter-spacing: 0.1em;
        color: var(--dtText);
    }

    &>#mh-third-section-button-contacts {
        width: 16.018306636155607vw;
        height: 3.8901601830663615vw;
        position: absolute;
        top: 32.151029748283754vw;
        left: 24.59954233409611vw;
        background: var(--dtSeparationLine);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.8306636155606408vw;
        font-weight: 600;
        letter-spacing: 0.1em;
        color: var(--dtText);
    }

    &>#mh-third-section-logo {
        width: 34.55377574370709vw;
        height: 26.248283752860413vw;
        object-fit: contain;
        position: absolute;
        top: 9.839816933638444vw;
        right: 9.153318077803203vw;
    }
}

#mh-four-section {
    width: 100.0vw;
    height: 85.81235697940504vw;
    position: relative;
    overflow: visible;
    background:
        linear-gradient(180deg, rgba(250, 250, 250, 0) 4.53%, rgba(0, 136, 204, 0.2) 62.4%, rgba(250, 250, 250, 0.2) 98.52%),
        linear-gradient(180deg, rgba(252, 253, 253, 0) 95.43%, #FCFDFD 100%),
        linear-gradient(0deg, #FAFAFA, #FAFAFA);


    &>#mh-four-section-title {
        position: absolute;
        top: 0;
        left: 5.720823798627003vw;
        height: 2.745995423340961vw;
        width: 34.32494279176201vw;
        font-weight: 600;
        font-size: 2.059496567505721vw;
        letter-spacing: 0.1em;
        color: var(--ltText);
    }

    &>#mh-four-section-text-0 {
        position: absolute;
        top: 3.610983981693364vw;
        left: 5.720823798627003vw;
        width: 50.68649885583524vw;
        height: auto;
        font-weight: 400;
        font-size: 1.8306636155606408vw;
        color: var(--ltText);
        line-height: 2.4347826086956523vw;
        letter-spacing: 0.1em;
    }

    &>#mh-four-section-text-1 {
        position: absolute;
        top: 31.56727688787185vw;
        left: 5.720823798627003vw;
        width: 50.68649885583524vw;
        height: 16.819221967963387vw;
        font-weight: 400;
        font-size: 1.8306636155606408vw;
        color: var(--ltText);
        line-height: 2.4347826086956523vw;
        letter-spacing: 0.1em;
        overflow: visible;
    }

    &>#mh-four-section-img-wrapper {
        position: absolute;
        top: 9.610983981693364vw;
        right: 9.153318077803203vw;
        width: 27.45995423340961vw;
        height: 27.45995423340961vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 136, 204, 0.02);
        border: 0.057208237986270026vw solid var(--dtSeparationLine);

        &>img {
            width: 20.340961098398168vw;
            height: 20.340961098398168vw;
            object-fit: contain;

        }
    }

    &>#mh-four-section-button-order {
        position: absolute;
        top: 38.901601830663616vw;
        right: 9.153318077803203vw;
        width: 27.45995423340961vw;
        height: 3.8901601830663615vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--accent);
        font-weight: 600;
        letter-spacing: 0.1em;
        font-size: 1.8306636155606408vw;
        color: var(--dtText);
    }

    &>#mh-four-section-low-buttons-wrapper {
        position: absolute;
        top: 43.7070938215103vw;
        right: 9.153318077803203vw;
        width: 27.45995423340961vw;
        height: 3.8901601830663615vw;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &>.mh-four-section-button {
            height: 100%;
            width: 6.178489702517163vw;
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--dtSeparationLine);

            &>img {
                width: 2.059496567505721vw;
                height: 2.059496567505721vw;

            }

            &>#mh-four-section-button-question-svg {
                width: 1.2791762013729977vw;
            }

            &>#mh-four-section-button-price-list-svg {
                width: 1.8535469107551488vw;
            }
        }
    }

    &>#mh-four-section-others-services-title {
        position: absolute;
        top: 55.26315789473685vw;
        left: 5.720823798627003vw;
        width: 19.162471395881006vw;
        height: 2.745995423340961vw;
        font-weight: 600;
        font-size: 2.059496567505721vw;
        letter-spacing: 0.1em;


    }

    &>#mh-four-section-others-services-left-line {
        position: absolute;
        bottom: 2.402745995423341vw;
        left: 5.720823798627003vw;
        width: 0.057208237986270026vw;
        height: 23.112128146453088vw;
        background-color: var(--dtSeparationLine);
    }

    &>#mh-four-section-others-services-right-line {
        position: absolute;
        bottom: 2.402745995423341vw;
        right: 9.153318077803203vw;
        width: 0.057208237986270026vw;
        height: 23.112128146453088vw;
        background: var(--dtSeparationLine);
    }

    &>#mh-four-section-others-services-left-arrow {
        width: 3.4324942791762014vw;
        height: 3.4324942791762014vw;
        position: absolute;
        left: 6.864988558352403vw;
        bottom: 12.700228832951947vw;
        object-fit: contain;
        pointer-events: all;
    }

    &>#mh-four-section-others-services-right-arrow {
        width: 3.4324942791762014vw;
        height: 3.4324942791762014vw;
        position: absolute;
        right: 10.183066361556065vw;
        bottom: 12.700228832951947vw;
        object-fit: contain;
        pointer-events: all;
    }

    &>#mh-four-section-others-services-wrapper {
        width: 73.79862700228833vw;
        height: 23.112128146453088vw;
        position: absolute;
        bottom: 2.402745995423341vw;
        left: 11.441647597254006vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;

        &>.light {
            height: 100%;
            width: 17.162471395881006vw;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: absolute;
            transition: left 0.3s ease-in-out;

            &>h4 {
                width: 100%;
                height: 4.805491990846682vw;
                font-weight: 400;
                font-size: 1.6018306636155606vw;
                line-height: 2.130434782608696vw;
                letter-spacing: 0.1em;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                color: var(--ltText);
            }

            &>.mh-four-section-others-services-wrapper-img-light {
                border: 0.057208237986270026vw solid var(--dtSeparationLine);
                width: 100%;
                height: 17.162471395881006vw;
                display: flex;
                justify-content: center;
                align-items: center;

                &>img {
                    width: 11.441647597254006vw;
                    height: 11.441647597254006vw;
                    object-fit: contain;
                }
            }
        }

        &>.dark {
            height: 100%;
            width: 17.162471395881006vw;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: absolute;
            transition: left 0.3s ease-in-out;

            &>h4 {
                width: 100%;
                height: 4.805491990846682vw;
                font-weight: 400;
                font-size: 1.6018306636155606vw;
                line-height: 2.130434782608696vw;
                letter-spacing: 0.1em;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                color: var(--outline);
            }

            &>.mh-four-section-others-services-wrapper-img-dark {
                border: 0.057208237986270026vw solid var(--outline);
                width: 100%;
                height: 17.162471395881006vw;
                display: flex;
                justify-content: center;
                align-items: center;

                &>img {
                    width: 11.441647597254006vw;
                    height: 11.441647597254006vw;
                    object-fit: contain;
                }
            }
        }
    }
}

#mh-price-list-wrapper {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    height: 45.9954233409611vw;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(1.1441647597254003vw);

    &>#mh-price-list-title {
        position: absolute;
        top: 3.4324942791762014vw;
        left: 2.2883295194508007vw;
        width: 11.894736842105263vw;
        height: 2.745995423340961vw;
        font-size: 2.059496567505721vw;
        font-weight: 600;
        color: var(--ltText);
    }

    &>#mh-price-list-x-mark {
        position: absolute;
        top: 3.4324942791762014vw;
        right: 3.4324942791762014vw;
        width: 2.745995423340961vw;
        height: 2.745995423340961vw;
        object-fit: contain;
        pointer-events: all;
    }

    &>#mh-price-list-line {
        position: absolute;
        top: 18.53546910755149vw;
        left: 49.19908466819222vw;
        width: 0.11441647597254005vw;
        height: 21.96796338672769vw;
        background: var(--ltSeparationLine);
    }

    &>#mh-price-list-item-wrapper-1 {
        width: 45.19450800915332vw;
        height: 20.59496567505721vw;
        position: absolute;
        top: 18.53546910755149vw;
        left: 2.2883295194508007vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: visible;

        &>.mh-price-list-item-1 {
            width: 100%;
            height: 2.2883295194508007vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
            overflow: visible;
            color: var(--ltText);
            font-size: 2.059496567505721vw;
            font-weight: 300;
            overflow: visible;

            &>.mh-price-list-service-name {
                width: 34.41990846681922vw;
                height: 100%;
                overflow: visible;

            }

            &>.mh-price-list-service-cost {
                width: 5.720823798627003vw;
                height: 100%;
                overflow: visible;
            }
        }
    }

    &>#mh-price-list-item-wrapper-2 {
        width: 45.19450800915332vw;
        height: 6.864988558352403vw;
        position: absolute;
        top: 18.53546910755149vw;
        left: 50.91533180778032vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: visible;

        &>.mh-price-list-item-2 {
            width: 100%;
            height: 2.2883295194508007vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
            overflow: visible;
            color: var(--ltText);
            font-size: 2.059496567505721vw;
            font-weight: 300;
            overflow: visible;

            &>.mh-price-list-service-name {
                width: 34.41990846681922vw;
                height: 100%;
                overflow: visible;

            }

            &>.mh-price-list-service-cost {
                width: 5.720823798627003vw;
                height: 100%;
                overflow: visible;
            }
        }
    }

    &>#mh-price-list-footer {
        width: 91.9908466819222vw;
        height: 5.491990846681922vw;
        position: absolute;
        top: 9.610983981693364vw;
        left: 2.2883295194508007vw;
        font-size: 2.059496567505721vw;
        font-weight: 400;
        line-height: 2.739130434782609vw;
        color: var(--ltText);
        overflow: visible;
    }
}

#mh-five-section {
    width: 100.0vw;
    height: 45.9954233409611vw;
    position: relative;
    background:
        linear-gradient(180deg, rgba(252, 253, 253, 0.15) 0%, rgba(0, 136, 204, 0.15) 19.27%, rgba(252, 253, 253, 0.15) 28.53%, rgba(252, 253, 253, 0.15) 100%),
        linear-gradient(0deg, #FCFDFD, #FCFDFD);

    &>#mh-send-to-application {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 45.9954233409611vw;
        z-index: 10;
        background: rgba(255, 255, 255, 0.45);
        backdrop-filter: blur(1.1441647597254003vw);

        &>#mh-send-to-application-main-content {
            position: absolute;
            top: 12.814645308924485vw;
            left: 21.39588100686499vw;
            width: 57.20823798627003vw;
            height: 20.36613272311213vw;
            background: rgba(0, 136, 204, 0.15);
            border: 0.11441647597254005vw solid var(--accent);
            backdrop-filter: blur(1.1441647597254003vw);

            &>#mh-send-to-application-main-content-title {
                position: absolute;
                top: 3.4324942791762014vw;
                left: 3.4324942791762014vw;
                width: auto;
                height: 2.402745995423341vw;
                line-height: 2.471395881006865vw;
                font-size: 2.059496567505721vw;
                font-weight: 400;
                text-align: center;
                overflow: visible;
                color: var(--ltText);
            }

            &>#mh-send-to-application-main-content-text {
                position: absolute;
                top: 8.123569794050344vw;
                left: 3.4324942791762014vw;
                width: 33.40961098398169vw;
                height: 8.810068649885583vw;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.8306636155606408vw;
                font-weight: 300;
                line-height: 2.5629290617848968vw;
                color: var(--ltText);
                overflow: visible;
            }

            &>#mh-send-to-application-main-content-img {
                position: absolute;
                bottom: 3.4324942791762014vw;
                right: 3.4324942791762014vw;
                width: 13.501144164759726vw;
                height: 13.501144164759726vw;
                transform: rotate(0deg);
                transition: transform 4s ease-in-out;
            }

        }

    }

    &>#mh-five-section-title {
        position: absolute;
        width: 28.11670480549199vw;
        height: 2.745995423340961vw;
        top: 4.576659038901601vw;
        left: 5.720823798627003vw;
        font-weight: 600;
        font-size: 2.059496567505721vw;
        letter-spacing: 0.1em;
        color: var(--ltText);
    }

    &>#mh-five-section-right-line {
        position: absolute;
        top: 9.610983981693364vw;
        left: 5.720823798627003vw;
        width: 0.057208237986270026vw;
        height: 34.32494279176201vw;
        background-image: var(--dtSeparationLine);
    }

    &>.mh-five-section-input {
        width: 24.02745995423341vw;
        height: 3.775743707093822vw;
        position: absolute;
        border-bottom: 0.11441647597254005vw solid var(--dtSeparationLine);
        color: #000000;
        font-weight: 400;
        font-size: 1.8306636155606408vw;
        padding-left: 0.4576659038901602vw;

        &::placeholder {
            color: var(--dtSeparationLine);
            font-weight: 400;
            font-size: 1.8306636155606408vw;
        }
    }

    &>#mh-five-section-input-first-name {
        top: 11.441647597254006vw;
        left: 8.009153318077804vw;
    }

    &>#mh-five-section-input-last-name {
        top: 11.441647597254006vw;
        left: 37.75743707093822vw;
    }

    &>#mh-five-section-input-phone {
        top: 17.505720823798626vw;
        left: 8.009153318077804vw;
    }

    &>#mh-five-section-input-email {
        top: 17.505720823798626vw;
        left: 37.75743707093822vw;
    }

    &>.mh-fifvth-section-input-placeholder {
        width: 24.02745995423341vw;
        height: 3.775743707093822vw;
        position: absolute;
        border-bottom: 0.11441647597254005vw solid var(--dtSeparationLine);
        color: #000000;
        font-weight: 400;
        font-size: 1.8306636155606408vw;
        padding-left: 0.4576659038901602vw;

        &::placeholder {
            color: var(--bad);
            font-weight: 400;
            font-size: 1.8306636155606408vw;
        }
    }

    &>.mh-fifvth-section-input-placeholder-dark-theme {
        width: 24.02745995423341vw;
        height: 3.775743707093822vw;
        position: absolute;
        border-bottom: 0.11441647597254005vw solid var(--outline);
        color: var(--ltMain);
        font-weight: 400;
        font-size: 1.8306636155606408vw;
        padding-left: 0.4576659038901602vw;

        &::placeholder {
            color: var(--dtText);
            font-weight: 400;
            font-size: 1.8306636155606408vw;
        }
    }



    &>#mh-textarea {
        position: absolute;
        height: 12.013729977116705vw;
        width: 53.775743707093824vw;
        top: 24.25629290617849vw;
        left: 8.009153318077804vw;
        font-weight: 400;
        font-size: 1.8306636155606408vw;
        line-height: 250%;
        letter-spacing: 0.1em;
        color: var(--dtSeparationLine);
        overflow: hidden;

        &::placeholder {
            font-weight: 400;
            font-size: 1.8306636155606408vw;
            line-height: 240%;
            letter-spacing: 0.1em;
            color: var(--dtSeparationLine);

        }
    }

    &>#mh-textarea-dark-theme {
        position: absolute;
        height: 12.013729977116705vw;
        width: 53.775743707093824vw;
        top: 24.25629290617849vw;
        left: 8.009153318077804vw;
        font-weight: 400;
        font-size: 1.8306636155606408vw;
        line-height: 250%;
        letter-spacing: 0.1em;
        color: var(--ltMain);
        overflow: hidden;

        &::placeholder {
            font-weight: 400;
            font-size: 1.8306636155606408vw;
            line-height: 240%;
            letter-spacing: 0.1em;
            color: var(--outline);

        }
    }

    &>#mh-textarea-line-0 {
        position: absolute;
        width: 53.775743707093824vw;
        height: 0.11441647597254005vw;
        background-color: var(--dtSeparationLine);
        left: 8.009153318077804vw;
        top: 28.07437070938215vw;
    }

    &>#mh-textarea-line-1 {
        position: absolute;
        width: 53.775743707093824vw;
        height: 0.11441647597254005vw;
        background-color: var(--dtSeparationLine);
        left: 8.009153318077804vw;
        top: 32.536613272311214vw;
    }

    &>#mh-textarea-line-2 {
        position: absolute;
        width: 53.775743707093824vw;
        height: 0.11441647597254005vw;
        background-color: var(--dtSeparationLine);
        left: 8.009153318077804vw;
        top: 37.0700228832952vw;
    }

    &>#mh-five-section-title-interesting {
        width: 11.441647597254006vw;
        height: 2.402745995423341vw;
        position: absolute;
        top: 11.899313501144166vw;
        right: 20.48054919908467vw;
        color: var(--ltText);
        font-weight: 400;
        font-size: 1.8306636155606408vw;
        letter-spacing: 0.1em;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: visible;
    }

    &>#mh-five-section-title-interesting-service {
        width: 10.297482837528605vw;
        height: 10.297482837528605vw;
        position: absolute;
        top: 16.361556064073227vw;
        right: 21.052631578947366vw;
        overflow: visible;
        display: flex;
        justify-content: center;
        align-items: center;

        &>img {
            width: 100%;
            height: 100%;
        }
    }

    &>#mh-five-section-title-interesting-name {
        position: absolute;
        top: 26.65903890160183vw;
        right: 19.336384439359268vw;
        width: 13.729977116704806vw;
        height: 4.805491990846682vw;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: 400;
        font-size: 1.3729977116704806vw;
        line-height: 2.196796338672769vw;
        letter-spacing: 0.1em;
        color: var(--ltText);
    }

    &>#mh-five-section-interesting-change-button {
        position: absolute;
        width: 11.441647597254006vw;
        height: 2.7791762013729975vw;
        bottom: 9.692219679633867vw;
        right: 20.48054919908467vw;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--dtSeparationLine);
        font-weight: 600;
        color: var(--dtText);
        font-size: 1.3729977116704806vw;
        letter-spacing: 0.1em;
    }

    &>#mh-five-section-contacts-wrapper {
        position: absolute;
        width: 5.606407322654462vw;
        height: 34.32494279176201vw;
        bottom: 2.059496567505721vw;
        right: 9.153318077803203vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: var(--accent);

        &>.mh-five-section-contacts {
            width: 3.4324942791762014vw;
            height: 3.4324942791762014vw;
            object-fit: contain;
        }
    }

    &>#mh-five-section-send-button {
        position: absolute;
        bottom: 2.402745995423341vw;
        left: 29.176201372997713vw;
        width: 32.608695652173914vw;
        height: 3.8901601830663615vw;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-size: 1.8306636155606408vw;
        letter-spacing: 0.1em;
        color: var(--ltMain);
        background-color: rgba(0, 136, 204, 0.2);
        border: 0.057208237986270026vw solid var(--accent);
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
    }

    &>.mh-activ-button {
        color: var(--dtText);
        background-color: var(--accent);
        border: none;
    }
}

#mh-six-section {
    position: relative;
    width: 100vw;
    height: 104.23340961098397vw;
    overflow: visible;
    background:
        radial-gradient(68.64% 25.91% at 26.54% 27.66%, rgba(0, 136, 204, 0.3) 0%, rgba(252, 253, 253, 0) 100%),
        radial-gradient(19.59% 14.45% at 23.8% 85.4%, rgba(0, 136, 204, 0.3) 0%, rgba(252, 253, 253, 0) 100%),
        radial-gradient(82.45% 27.94% at 69.85% 56.86%, rgba(0, 136, 204, 0.3) 0%, rgba(252, 253, 253, 0) 100%),
        linear-gradient(0deg, #FCFDFD, #FCFDFD);


    &>#mh-six-section-title {
        position: absolute;
        top: 4.576659038901601vw;
        left: 5.720823798627003vw;
        width: 8.695652173913043vw;
        height: 2.745995423340961vw;
        font-size: 2.059496567505721vw;
        font-weight: 600;
        letter-spacing: 0.1em;
        color: var(--ltText);
    }

    &>#mh-six-section-top-review-wrapper {
        position: absolute;
        top: 11.899313501144166vw;
        left: 5.720823798627003vw;
        width: 85.24027459954233vw;
        height: 31.23569794050343vw;
        overflow: visible;
        transition: opacity 0.4s ease-in-out, left 0.4s ease-in-out;

        &>#mh-six-section-top-review-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 11.441647597254006vw;
            height: 14.645308924485127vw;
            border: 0.2288329519450801vw solid var(--accent);
            z-index: 2;
        }

        &>#mh-six-section-top-review-name {
            position: absolute;
            top: 0.5720823798627002vw;
            left: 12.585812356979407vw;
            width: 25.171624713958813vw;
            height: 2.745995423340961vw;
            font-weight: 400;
            font-size: 2.059496567505721vw;
            letter-spacing: 0.1em;
            color: var(--ltText);
        }

        &>#mh-six-section-top-review-wrapper-text {
            position: absolute;
            top: 4.462242562929062vw;
            left: 10.297482837528605vw;
            width: 74.94279176201373vw;
            height: 26.773455377574372vw;
            z-index: 1;
            background: rgba(0, 136, 204, 0.05);
            border: 0.11441647597254005vw solid var(--accent);
            font-weight: 400;
            font-size: 1.8306636155606408vw;
            line-height: 2.4347826086956523vw;
            letter-spacing: 0.1em;
            color: var(--ltText);

            &>#mh-six-section-top-review-wrapper-text-0 {
                position: absolute;
                top: 1.7162471395881007vw;
                left: 2.8604118993135015vw;
                width: 69.79405034324942vw;
                height: auto;
            }

            &>#mh-six-section-top-review-wrapper-text-1 {
                position: absolute;
                bottom: 3.4324942791762014vw;
                left: 2.8604118993135015vw;
                width: 69.79405034324942vw;
                height: auto;
            }
        }

        &>#mh-six-section-top-review-line {
            position: absolute;
            top: 16.933638443935926vw;
            left: 0;
            width: 0.057208237986270026vw;
            height: 18.306636155606405vw;
            background:
                linear-gradient(180deg, #2e2e2e00 0%, #2e2e2e5e 20.36%, #2e2e2e00 100%);
        }
    }

    &>#mh-six-section-bottom-review-wrapper {
        position: absolute;
        top: 45.9954233409611vw;
        left: 5.720823798627003vw;
        width: 85.24027459954233vw;
        height: 31.23569794050343vw;
        overflow: visible;
        transition: opacity 0.4s ease-in-out, left 0.4s ease-in-out;

        &>#mh-six-section-bottom-review-img {
            position: absolute;
            top: 0;
            right: 0;
            width: 11.441647597254006vw;
            height: 14.645308924485127vw;
            border: 0.2288329519450801vw solid var(--accent);
            z-index: 2;
        }

        &>#mh-six-section-bottom-review-name {
            position: absolute;
            top: 0.5720823798627002vw;
            right: 12.585812356979407vw;
            width: 25.171624713958813vw;
            height: 2.745995423340961vw;
            font-weight: 400;
            font-size: 2.059496567505721vw;
            letter-spacing: 0.1em;
            color: var(--ltText);
        }

        &>#mh-six-section-bottom-review-wrapper-text {
            position: absolute;
            top: 4.462242562929062vw;
            right: 10.297482837528605vw;
            width: 74.94279176201373vw;
            height: 26.773455377574372vw;
            z-index: 1;
            background: rgba(0, 136, 204, 0.05);
            border: 0.11441647597254005vw solid var(--accent);
            font-weight: 400;
            font-size: 1.8306636155606408vw;
            line-height: 2.4347826086956523vw;
            letter-spacing: 0.1em;
            color: var(--ltText);

            &>#mh-six-section-bottom-review-wrapper-text-0 {
                position: absolute;
                top: 1.7162471395881007vw;
                left: 2.8604118993135015vw;
                width: 69.79405034324942vw;
                height: auto;
            }

            &>#mh-six-section-bottom-review-wrapper-text-1 {
                position: absolute;
                bottom: 3.4324942791762014vw;
                left: 2.8604118993135015vw;
                width: 69.79405034324942vw;
                height: auto;
            }
        }

        &>#mh-six-section-bottom-review-line {
            margin-left: 85.24027459954233vw;
            margin-top: 15.874141876430205vw;
            width: 0.057208237986270026vw;
            height: 18.306636155606405vw;
            background:
                linear-gradient(180deg, #2e2e2e00 0%, #2e2e2e5e 20.36%, #2e2e2e00 100%);
        }
    }

    &>#mh-six-section-middle-line {
        position: absolute;
        bottom: 6.407322654462242vw;
        left: 5.720823798627003vw;
        width: 0.057208237986270026vw;
        height: 18.306636155606405vw;
        background:
            linear-gradient(180deg, #2e2e2e00 0%, #2e2e2e5e 20.36%, #2e2e2e00 100%);
    }

    &>#mh-six-section-bottom-img {
        position: absolute;
        bottom: 1.2585812356979404vw;
        left: 17.583524027459955vw;
        width: 15.597254004576659vw;
        height: 22.883295194508012vw;
    }

    &>#six-section-bottom-contact-us-wrapper {
        width: 18.306636155606405vw;
        height: 13.272311212814644vw;
        top: 83.52402745995423vw;
        left: 45.08009153318078vw;
        position: absolute;

        &>p {
            width: 100%;
            height: 5.949656750572083vw;
            position: absolute;
            top: 0;
            left: 0;
            font-size: 1.8306636155606408vw;
            font-weight: 400;
            line-height: 2.9290617848970255vw;
            letter-spacing: 0.1em;
            color: var(--ltText);
        }

        &>div {
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            height: 3.8901601830663615vw;
            background: var(--dtSeparationLine);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.8306636155606408vw;
            font-weight: 600;
            letter-spacing: 0.1em;
            color: var(--dtText);

        }
    }

    &>#six-section-bottom-more-button-wrapper {
        width: 15.789473684210526vw;
        height: 13.272311212814644vw;
        bottom: 7.665903890160183vw;
        right: 8.924485125858125vw;
        position: absolute;

        &>p {
            width: 100%;
            height: 5.949656750572083vw;
            position: absolute;
            left: 0;
            top: 0;
            font-weight: 400;
            font-size: 1.8306636155606408vw;
            letter-spacing: 0.1em;
            color: var(--ltText);
        }

        &>#six-section-bottom-more-button {
            width: 100%;
            height: 3.4324942791762014vw;
            position: absolute;
            bottom: 0;
            left: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &>#six-section-bottom-more-left-button {
                width: 3.4324942791762014vw;
                height: 3.4324942791762014vw;
                background-color: #2E2E2E;
                pointer-events: all;
            }

            &>#six-section-bottom-more-button-score {
                width: 3.8901601830663615vw;
                height: 2.402745995423341vw;
                letter-spacing: 0.1em;
                font-size: 1.8306636155606408vw;
                font-weight: 400;
                display: flex;
                justify-content: center;
                align-items: center;
            }


            &>#six-section-bottom-more-right-button {
                width: 3.4324942791762014vw;
                height: 3.4324942791762014vw;
                pointer-events: all;

            }
        }

    }

    &>#mh-six-section-bottom-line {
        position: absolute;
        bottom: 0.4vw;
        left: 5.720823798627003vw;
        width: 85.24027459954233vw;
        height: 0.057208237986270026vw;
        background:
            linear-gradient(90deg, #2e2e2e00 0%, #2e2e2e5e 20.36%, #2e2e2e00 100%);

    }

}

#mh-footer-eng {
    color: var(--ltText);
    position: absolute;
    width: 100vw;
    height: 6.864988558352403vw;
    font-size: 1.8306636155606408vw;
    font-weight: 600;
    letter-spacing: 0.1em;
    background-color: #FCFDFD;

    &>#mh-footer-eng-0 {
        position: absolute;
        top: 2.1739130434782608vw;
        left: 5.720823798627003vw;
    }

    &>#mh-footer-eng-1 {
        position: absolute;
        top: 2.1739130434782608vw;
        left: 25.286041189931353vw;
    }

    &>#mh-footer-eng-2 {
        position: absolute;
        top: 2.1739130434782608vw;
        left: 44.05034324942792vw;
    }

    &>#mh-footer-eng-3 {
        position: absolute;
        top: 2.1739130434782608vw;
        left: 66.13272311212815vw;
    }

    &>#mh-footer-eng-4 {
        position: absolute;
        top: 2.1739130434782608vw;
        left: 83.63844393592677vw;
    }
}

#mh-footer-rus {
    position: absolute;
    display: none;
    width: 100vw;
    height: 6.864988558352403vw;
    color: var(--ltText);
    background-color: #FCFDFD;

    &>#mh-footer-rus-0 {
        position: absolute;
        top: 2.1739130434782608vw;
        left: 5.720823798627003vw;
    }

    &>#mh-footer-rus-1 {
        position: absolute;
        top: 2.1739130434782608vw;
        left: 30.434782608695656vw;
    }

    &>#mh-footer-rus-2 {
        position: absolute;
        top: 2.1739130434782608vw;
        left: 58.69565217391305vw;
    }

    &>#mh-footer-rus-3 {
        position: absolute;
        top: 2.1739130434782608vw;
        left: 86.38443935926774vw;
    }
}