#mv-first-section {
    width: 100vw;
    height: 217.4129353233831vw;
    position: relative;
    background:
        linear-gradient(166.39deg, rgba(0, 76, 123, 0.2) 4.94%, rgba(232, 232, 232, 0.2) 14.94%, rgba(232, 232, 232, 0.2) 35.08%, rgba(0, 76, 123, 0.2) 69.97%, rgba(232, 232, 232, 0.2) 89.82%),
        linear-gradient(180deg, rgba(232, 232, 232, 0) 92.39%, #E8E8E8 100%),
        linear-gradient(0deg, #E8E8E8, #E8E8E8);


    &>#mv-background-gradient {
        width: 69.15422885572139vw;
        height: 40.547263681592035vw;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(128.05deg, rgba(0, 13, 21, 0) 12.99%, rgba(0, 13, 21, 0.5) 65.25%);
        overflow: visible;
    }

    &>#mv-first-section-img-circle {
        width: 74.6268656716418vw;
        height: 75.36567164179105vw;
        position: absolute;
        top: -35.569651741293534vw;
        left: -31.80348258706468vw;
        transform: rotate(-57deg);
    }

    &>#mv-first-section-logo {
        width: 10.44776119402985vw;
        height: 7.9378109452736325vw;
        position: absolute;
        top: 2.4875621890547266vw;
        left: 2.4875621890547266vw;
    }

    #mv-nav-button {
        width: 8.549751243781094vw;
        height: 7.9378109452736325vw;
        position: fixed;
        top: 2.4875621890547266vw;
        right: 2.4875621890547266vw;
        overflow: visible;
        z-index: 10;

        &>#mv-nav-button-svg {
            width: 100%;
            height: 100%;
            pointer-events: none;
            object-fit: contain;
        }
    }

    &>#mv-first-section-main-title {
        width: 78.6318407960199vw;
        height: 9.950248756218906vw;
        position: absolute;
        top: 98.75621890547264vw;
        left: 13.184079601990051vw;
        font-size: 7.462686567164178vw;
        font-weight: 400;
        line-height: 8.955223880597014vw;
        letter-spacing: 0.15em;
        color: rgba(0, 154, 236, 0.1);
        text-decoration: #005380 solid 50px;
    }

    &>#mv-first-section-subtitle-block-left {
        width: 74.12935323383084vw;
        height: 4.975124378109453vw;
        position: absolute;
        top: 114.92537313432835vw;
        left: 12.686567164179104vw;
        font-size: 4.975124378109453vw;
        font-weight: 400;
        line-height: 4.975124378109453vw;
        color: var(--darkBlue);
        opacity: 0.8;
        transition: top 0.2s ease-in-out, opacity 0.2s ease-in-out;
        overflow: visible;
    }

    &>#mv-first-section-subtitle-block-right {
        width: 74.12935323383084vw;
        height: 4.975124378109453vw;
        position: absolute;
        top: 114.92537313432835vw;
        right: 13.184079601990051vw;
        text-align: right;
        font-size: 4.975124378109453vw;
        font-weight: 400;
        line-height: 4.975124378109453vw;
        color: var(--darkBlue);
        opacity: 0.8;
        transition: top 0.2s ease-in-out, opacity 0.2s ease-in-out;
        overflow: visible;

    }

    &>#mv-first-section-subtitle-second-block-left {
        width: 74.12935323383084vw;
        height: 4.975124378109453vw;
        position: absolute;
        top: 114.92537313432835vw;
        left: 12.686567164179104vw;
        font-size: 4.975124378109453vw;
        font-weight: 400;
        line-height: 4.975124378109453vw;
        background: linear-gradient(90.45deg, #06486C 0.18%, #00141E 44.9%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
        overflow: visible;

    }

    &>#mv-first-section-subtitle-second-block-right {
        width: 74.12935323383084vw;
        height: 4.975124378109453vw;
        position: absolute;
        top: 114.92537313432835vw;
        right: 13.184079601990051vw;
        text-align: right;
        font-size: 4.975124378109453vw;
        font-weight: 400;
        line-height: 4.975124378109453vw;
        background: linear-gradient(90.49deg, #06486C 47.23%, #00141E 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
        overflow: visible;

    }
}

#mv-navigation-block {
    display: none;
    width: 100vw;
    height: 100dvh;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 100vw;
    transition: left 0.5s ease-in-out;
    background-image: linear-gradient(166.39deg, rgba(0, 76, 123, 0.2) 4.94%, rgba(0, 13, 21, 0.2) 14.94%, rgba(0, 13, 21, 0.2) 35.08%, rgba(0, 76, 123, 0.2) 69.97%, rgba(0, 13, 21, 0.2) 89.82%);
    backdrop-filter: blur(2.4875621890547266vw);



    &>#mv-navigation-block-title {
        width: 31.094527363184078vw;
        height: 2.745995423340961dvh;
        position: absolute;
        top: 4.118993135011442dvh;
        left: 4.975124378109453vw;
        font-size: min(5.970149253731343vw, 2.745995423340961dvh);
        font-weight: 600;
        line-height: 2.745995423340961dvh;
        color: var(--ltText);
        overflow: visible;
    }

    &>#mv-navigation-block-lang-button {
        width: 10.945273631840797vw;
        height: 2.745995423340961dvh;
        position: absolute;
        top: 4.118993135011442dvh;
        right: 4.975124378109453vw;
        font-weight: 600;
        font-size: min(5.970149253731343vw, 2.745995423340961dvh);
        line-height: 2.745995423340961dvh;
        color: var(--ltText);
        overflow: visible;
    }

    &>#mv-navigation-block-title-line {
        width: 90.04975124378109vw;
        height: 0.11441647597254005dvh;
        position: absolute;
        top: 7.780320366132723dvh;
        left: 4.975124378109453vw;
        background-color: var(--ltText);
    }

    &>.mv-navigation-block-item {
        width: 90.04975124378109vw;
        height: 9.382151029748284dvh;
        position: absolute;
        left: 4.975124378109453vw;
        overflow: visible;


        &>.mv-navigation-block-item-title {
            font-weight: 400;
            font-size: min(5.970149253731343vw, 2.745995423340961dvh);
            line-height: 2.745995423340961dvh;
            color: var(--ltText);
            position: absolute;
            top: 0;
            left: 0;
            overflow: visible;
        }

        &>.mv-navigation-block-item-text {
            font-weight: 300;
            font-size: min(4.975124378109453vw, 2.2883295194508007dvh);
            line-height: 2.745995423340961dvh;
            color: var(--ltText);
            position: absolute;
            left: 0;
            top: 3.8901601830663615dvh;
            overflow: visible;

        }
    }

    &>#mv-navigation-block-item-0 {
        top: 11.899313501144166dvh;
    }

    &>#mv-navigation-block-item-1 {
        top: 25.400457665903893dvh;
    }

    &>#mv-navigation-block-item-2 {
        top: 38.901601830663616dvh;
    }

    &>#mv-navigation-block-item-3 {
        top: 55.1487414187643dvh;
    }

    &>#mv-navigation-block-item-4 {
        top: 68.64988558352402dvh;
    }

    &>.mv-nav-img {
        object-fit: contain;
        width: 12.437810945273633vw;
        height: 5.720823798627003dvh;
        position: absolute;
    }

    &>#mv-nav-img-phone {
        bottom: 12.013729977116705dvh;
        left: 4.975124378109453vw;
    }

    &>#mv-nav-img-email {
        bottom: 12.013729977116705dvh;
        left: 24.191542288557212vw;
    }

    &>#mv-nav-img-facebook {
        bottom: 12.013729977116705dvh;
        left: 43.407960199004975vw;
    }

    &>#mv-nav-img-telegram {
        bottom: 12.013729977116705dvh;
        right: 24.937810945273633vw;
    }

    &>#mv-nav-img-x {
        bottom: 12.013729977116705dvh;
        right: 5.721393034825871vw;
    }

    &>#mv-nav-img-vk {
        bottom: 3.203661327231121dvh;
        left: 33.83084577114428vw;
    }

    &>#mv-nav-img-whatsapp {
        bottom: 3.203661327231121dvh;
        right: 34.32835820895522vw;
    }
}

#mv-second-section {
    width: 100vw;
    height: 217.4129353233831vw;
    position: relative;
    background: var(--outline);

    &>#mv-second-section-title {
        font-weight: 400;
        font-size: 5.970149253731343vw;
        color: var(--ltText);
        position: absolute;
        top: 9.950248756218906vw;
        left: 12.437810945273633vw;
    }

    &>.mv-second-section-text {
        width: 75.87064676616916vw;
        font-weight: 300;
        font-size: 5.870149253731343vw;
        line-height: 8.358208955223882vw;
        position: absolute;
        left: 12.437810945273633vw;
        color: var(--ltText);
        text-align: justify;
    }

    &>#mv-second-section-text-0 {
        top: 25.870646766169152vw;
        height: 42.28855721393035vw;
    }

    &>#mv-second-section-text-1 {
        top: 73.13432835820896vw;
        height: 33.83084577114428vw;
    }

    &>#mv-second-section-img {
        object-fit: contain;
        width: 75.12437810945273vw;
        height: 57.06716417910448vw;
        position: absolute;
        bottom: 43.430348258706466vw;
        left: 12.437810945273633vw;
    }

    &>#mv-second-section-button-services {
        width: 74.6268656716418vw;
        height: 9.950248756218906vw;
        position: absolute;
        bottom: 23.383084577114428vw;
        left: 12.437810945273633vw;
        text-align: center;
        font-weight: 600;
        font-size: 4.975124378109453vw;
        line-height: 4.975124378109453vw;
        color: var(--outline);
        background: var(--ltText);
    }

    &>#mv-second-section-button-contacts {
        width: 74.6268656716418vw;
        height: 9.950248756218906vw;
        position: absolute;
        bottom: 8.45771144278607vw;
        left: 12.437810945273633vw;
        text-align: center;
        color: var(--outline);
        background: var(--ltText);
        font-weight: 600;
        font-size: 4.975124378109453vw;
        line-height: 4.975124378109453vw;
    }
}

#mv-third-section {
    position: relative;
    width: 100vw;
    height: 410.44776119402985vw;
    overflow: visible;
    background:
        linear-gradient(180deg, rgba(232, 232, 232, 0.2) 0%, rgba(0, 136, 204, 0.2) 13.4%, rgba(232, 232, 232, 0.2) 24.28%, rgba(232, 232, 232, 0.2) 52.1%, rgba(0, 136, 204, 0.2) 71.42%, rgba(0, 136, 204, 0.2) 83.92%, rgba(232, 232, 232, 0.2) 100%),
        linear-gradient(0deg, #E8E8E8, #E8E8E8);


    &>#mv-third-section-title {
        width: 59.70149253731343vw;
        height: 9.950248756218906vw;
        position: absolute;
        top: 8.45771144278607vw;
        left: 12.437810945273633vw;
        line-height: 120%;
        font-weight: 400;
        font-size: 5.970149253731343vw;
        color: var(--ltText);
        display: flex;
        align-items: center;
        overflow: visible;
    }

    &>#mv-third-section-left-arrow {
        position: absolute;
        width: 4.975124378109453vw;
        height: 4.975124378109453vw;
        object-fit: contain;
        top: 10.945273631840797vw;
        right: 19.900497512437813vw;
        pointer-events: all;
    }

    &>#mv-third-section-right-arrow {
        position: absolute;
        width: 4.975124378109453vw;
        height: 4.975124378109453vw;
        object-fit: contain;
        top: 10.945273631840797vw;
        right: 12.437810945273633vw;
        pointer-events: all;
    }

    &>#mv-third-section-wrapper-img {
        position: absolute;
        width: 59.70149253731343vw;
        height: 59.70149253731343vw;
        top: 25.870646766169152vw;
        left: 12.437810945273633vw;
        border: 0.24875621890547264vw solid var(--ltText);
        background: linear-gradient(179.79deg, rgba(232, 232, 232, 0.08) 0.23%, rgba(0, 136, 204, 0.04) 61.99%, rgba(232, 232, 232, 0.08) 99.87%);
        display: flex;
        justify-content: center;
        align-items: center;

        &>#mv-third-section-img {
            width: 44.223880597014926vw;
            height: 44.223880597014926vw;
            object-fit: contain;
        }
    }

    &>#mv-third-section-wrapper-right-four-buttons {
        position: absolute;
        height: 59.70149253731343vw;
        width: 12.437810945273633vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        right: 12.437810945273633vw;
        top: 25.870646766169152vw;
        pointer-events: all;

        &>.mv-third-section-wrapper-right-four-buttons {
            width: 12.437810945273633vw;
            height: 12.437810945273633vw;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 0.24875621890547264vw solid var(--ltText);
            background: linear-gradient(0deg, rgba(0, 136, 204, 0.02), rgba(0, 136, 204, 0.02)),
                linear-gradient(179.79deg, rgba(232, 232, 232, 0.16) 0.23%, rgba(0, 136, 204, 0.08) 61.99%, rgba(232, 232, 232, 0.16) 99.87%);


            &>.mv-third-section-right-four-buttons {
                object-fit: contain;
                width: 7.462686567164178vw;
                height: 7.462686567164178vw;
            }
        }
    }

    &>#mv-third-section-text-0 {
        position: absolute;
        height: auto;
        width: 75.12437810945273vw;
        top: 93.03482587064677vw;
        left: 12.437810945273633vw;
        font-size: 3.9800995024875623vw;
        font-weight: 300;
        line-height: 5.174129353233831vw;
        color: var(--ltText);
    }

    &>#mv-third-section-text-1 {
        position: absolute;
        height: auto;
        width: 75.12437810945273vw;
        top: 164.4726368159204vw;
        left: 12.437810945273633vw;
        font-size: 3.9800995024875623vw;
        font-weight: 300;
        line-height: 5.174129353233831vw;
        color: var(--ltText);
    }

    &>#mv-third-section-button-order {
        position: absolute;
        top: 220.726368159204vw;
        left: 12.437810945273633vw;
        width: 75.12437810945273vw;
        height: 9.950248756218906vw;
        border: 0.24875621890547264vw solid var(--ltSeparationLine);
        overflow: visible;
        z-index: 10;
        background: var(--dtSeparationLine);

        &>p {
            position: absolute;
            top: 0;
            left: 0;
            width: 63.681592039801vw;
            height: 100%;
            font-size: 4.975124378109453vw;
            font-weight: 600;
            line-height: 4.975124378109453vw;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--outline);
        }

        &>div {
            width: 0.24875621890547264vw;
            height: 7.462686567164178vw;
            background: var(--ltSeparationLine);
            position: absolute;
            top: 1.2437810945273633vw;
            right: 11.194029850746269vw;
        }

        &>img {
            position: absolute;
            top: 1.8656716417910446vw;
            right: 2.4875621890547266vw;
            width: 6.218905472636816vw;
            height: 6.218905472636816vw;
            object-fit: contain;
        }
    }

    &>#mv-price-list-wrapper {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100vw;
        height: 217.4129353233831vw;
        display: none;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        backdrop-filter: blur(1.9900497512437811vw);

        &>#mv-price-list-block {
            width: 85.07462686567165vw;
            height: 122.38805970149254vw;
            position: absolute;
            top: 47.51243781094527vw;
            left: 7.462686567164178vw;
            background: rgba(0, 63, 98, 0.4);
            border: 0.24875621890547264vw solid var(--darkBlue);

            &>#mv-price-list-title {
                position: absolute;
                top: 4.975124378109453vw;
                left: 4.975124378109453vw;
                width: 30.35820895522388vw;
                height: 5.970149253731343vw;
                font-size: 5.970149253731343vw;
                font-weight: 400;
                line-height: 5.970149253731343vw;
                color: #EAF8FF;
            }

            &>#mv-price-list-x-mark {
                position: absolute;
                top: 4.975124378109453vw;
                right: 4.975124378109453vw;
                width: 5.970149253731343vw;
                height: 5.970149253731343vw;
                object-fit: contain;
                pointer-events: all;
            }

            &>#mv-price-list-title-line {
                position: absolute;
                top: 15.92039800995025vw;
                left: 4.975124378109453vw;
                width: 75.12437810945273vw;
                height: 0.24875621890547264vw;
                background: rgba(0, 154, 236, 0.6)
            }

            &>#mv-price-list-item-wrapper {
                width: 75.12437810945273vw;
                height: 64.6766169154229vw;
                position: absolute;
                top: 20.8955223880597vw;
                left: 4.975124378109453vw;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                overflow: visible;

                &>.mv-price-list-item {
                    width: 75.12437810945273vw;
                    height: 4.975124378109453vw;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    overflow: visible;
                    color: #EAF8FF;
                    font-size: 4vw;
                    font-weight: 300;
                    overflow: visible;

                    &>.mv-price-list-service-name {
                        width: 57.2139303482587vw;
                        height: 4.975124378109453vw;
                        overflow: visible;

                    }

                    &>.mv-price-list-service-cost {
                        width: 14.925373134328357vw;
                        height: 4.975124378109453vw;
                        overflow: visible;
                    }
                }
            }

            &>#mv-price-list-footer-line {
                position: absolute;
                bottom: 31.8407960199005vw;
                left: 4.975124378109453vw;
                width: 75.12437810945273vw;
                height: 0.24875621890547264vw;
                background: rgba(0, 154, 236, 0.6)
            }

            &>#mv-price-list-footer {
                width: 75.12437810945273vw;
                height: 21.890547263681594vw;
                position: absolute;
                bottom: 4.975124378109453vw;
                left: 4.975124378109453vw;
                font-size: 3.9800995024875623vw;
                font-weight: 300;
                line-height: 5.572139303482587vw;
                color: #EAF8FF;
                overflow: visible;
            }
        }
    }

    #mv-fourth-section {
        position: absolute;
        top: 220.55223880597015vw;
        width: 100vw;
        height: 217.4129353233831vw;


        &>#mv-fourth-section-title {
            position: absolute;
            width: 34.57711442786069vw;
            height: 5.970149253731343vw;
            left: 12.437810945273633vw;
            top: 22.139303482587064vw;
            font-size: 5.970149253731343vw;
            font-weight: 400;
            line-height: 5.970149253731343vw;
            text-align: left;
            color: var(--ltText);
            overflow: visible;
        }

        &>.mv-wrapper-fourth-section-lines-buttons {
            position: absolute;
            width: 75.12437810945273vw;
            height: 44.90049751243781vw;
            left: 12.437810945273633vw;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &>.mv-fourth-section-button {
                width: 34.452736318407965vw;
                height: 44.90049751243781vw;

                &>.mv-wrapper-for-img {
                    width: 34.452736318407965vw;
                    height: 34.452736318407965vw;
                    border: 0.24875621890547264vw solid var(--dtSeparationLine);
                    background: linear-gradient(179.79deg, rgba(232, 232, 232, 0.08) 0.23%, rgba(0, 136, 204, 0.04) 61.99%, rgba(232, 232, 232, 0.08) 99.87%);
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &>.mv-fourth-section-service-img {
                        object-fit: contain;
                        width: 25.26616915422885vw;
                        height: 25.26616915422885vw;
                    }
                }

                &>.mv-name-of-service {
                    width: 29.47761194029851vw;
                    height: 7.960199004975125vw;
                    margin-top: 2.4875621890547266vw;
                    margin-left: 2.4875621890547266vw;
                    font-size: 3.482587064676617vw;
                    font-weight: 300;
                    line-height: 4.179104477611941vw;
                    color: var(--ltText);
                    text-align: center;
                    overflow: hidden;
                }
            }
        }

        &>#mv-wrapper-fourth-section-first-line-buttons {
            top: 38.05970149253804vw;
        }

        &>#mv-wrapper-fourth-section-second-line-buttons {
            top: 87.81094527363256vw;
        }

        &>#mv-wrapper-fourth-section-third-line-buttons {
            top: 137.8109452736325vw;
        }
    }
}



#mv-fifvth-section {
    position: relative;
    width: 100vw;
    height: 336.56716417910445vw;
    background:
        linear-gradient(180deg, rgba(232, 232, 232, 0.08) 0%, rgba(0, 136, 204, 0.08) 11.93%, rgba(0, 136, 204, 0.024) 46.93%, rgba(0, 136, 204, 0.048) 61.76%, rgba(232, 232, 232, 0.08) 79.38%, rgba(0, 136, 204, 0.08) 91.97%, rgba(232, 232, 232, 0.08) 100%), linear-gradient(0deg, #E8E8E8, #E8E8E8);


    &>#mv-fifvth-section-title {
        position: absolute;
        top: 9.950248756218906vw;
        left: 12.437810945273633vw;
        width: 67.16417910447761vw;
        height: 8.706467661691542vw;
        font-size: 5.970149253731343vw;
        font-weight: 400;
        line-height: 5.970149253731343vw;
        color: var(--ltText);
    }

    &>#mv-fifvth-section-main-content {
        width: 75.12437810945273vw;
        height: 261.94029850746267vw;
        position: absolute;
        top: 27.860696517412936vw;
        left: 12.437810945273633vw;
        background: rgba(0, 136, 204, 0.01);
        border: 0.4975124378109453vw solid rgba(46, 46, 46, 0.5);
        transition: border 0.3s ease-in-out, background 0.3s ease-in-out;

        &>#mv-fifvth-section-img {
            position: absolute;
            width: 9.950248756218906vw;
            height: 9.950248756218906vw;
            object-fit: contain;
            top: 4.975124378109453vw;
            left: 32.58706467661692vw;

            & path {
                transition: fill 0.3s ease-in-out;
            }
        }

        &>.mv-fifvth-section-input {
            width: 65.17412935323384vw;
            height: 9.950248756218906vw;
            position: absolute;
            left: 4.975124378109453vw;
            border-bottom: 0.24875621890547264vw solid var(--dtSeparationLine);
            color: #02A6FF;
            text-align: center;
            font-weight: 300;
            font-size: 4.975124378109453vw;
            line-height: 4.975124378109453vw;

            &::placeholder {
                color: var(--ltText);
                text-align: center;
                font-weight: 300;
                font-size: 4.975124378109453vw;
                line-height: 4.975124378109453vw;
            }
        }

        &>.mv-fifvth-section-input-placeholder {
            width: 65.17412935323384vw;
            height: 9.950248756218906vw;
            position: absolute;
            left: 4.975124378109453vw;
            border-bottom: 0.24875621890547264vw solid var(--dtSeparationLine);
            color: #02A6FF;
            text-align: center;
            font-weight: 300;
            font-size: 4.975124378109453vw;
            line-height: 4.975124378109453vw;

            &::placeholder {
                color: var(--bad);
                text-align: center;
                font-weight: 300;
                font-size: 4.975124378109453vw;
                line-height: 4.975124378109453vw;
            }


        }

        &>#mv-fifvth-section-input-first-name {
            top: 19.900497512437813vw;
        }

        &>#mv-fifvth-section-input-last-name {
            top: 34.82587064676617vw;
        }

        &>#mv-fifvth-section-input-phone {
            top: 49.75124378109453vw;
        }

        &>#mv-fifvth-section-input-email {
            top: 64.6766169154229vw;
        }

        &>#mv-fifvth-section-main-content-subtitle {
            position: absolute;
            width: 65.17412935323384vw;
            height: 9.950248756218906vw;
            top: 82.08955223880598vw;
            left: 4.975124378109453vw;
            font-size: 4.975124378109453vw;
            font-weight: 300;
            line-height: 4.975124378109453vw;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--ltText);
        }

        &>#mv-fifvth-section-drop-list {
            width: 61.442786069651746vw;
            height: 72.13930348258707vw;
            position: absolute;
            top: 95.27363184079603vw;
            left: 8.706467661691542vw;
            display: flex;
            flex-direction: column;
            justify-content: space-between;



            &>.mv-fifvth-section-drop-list-item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 9.950248756218906vw;
                width: 61.442786069651746vw;
                overflow: visible;

                &>.mv-fifvth-section-drop-list-activ-circle {
                    width: 2.4875621890547266vw;
                    height: 2.4875621890547266vw;
                    border: 0.24875621890547264vw solid var(--dtSeparationLine);
                    border-radius: 50%;
                    transition: background 0.3s ease-in-out;
                }

                &>.mv-fifvth-section-drop-list-item-text {
                    text-align: right;
                    font-weight: 300;
                    font-size: 4.975124378109453vw;
                    line-height: 4.975124378109453vw;
                    color: var(--ltText);
                    transition: color 0.3s ease-in-out;
                    overflow: visible;
                }

            }
        }

        &>#mv-textarea {
            width: 65.17412935323384vw;
            height: 59.70149253731343vw;
            position: absolute;
            bottom: 24.875621890547265vw;
            left: 4.975124378109453vw;
            font-size: 4.975124378109453vw;
            font-weight: 300;
            line-height: 4.975124378109453vw;
            color: var(--ltText);
            word-wrap: break-word;
            line-height: 250%;
            overflow-y: hidden;

            &::placeholder {
                font-size: 4.975124378109453vw;
                font-weight: 300;
                line-height: 250%;
                color: var(--ltText);
            }
        }


        &>.mv-textarea-line {
            width: 65.17412935323384vw;
            height: 0.24875621890547264vw;
            position: absolute;
            background-color: var(--dtSeparationLine);
            left: 4.975124378109453vw;
        }

        &>#mv-textarea-line-0 {
            bottom: 75.181592039801vw;
        }

        &>#mv-textarea-line-1 {
            bottom: 62.189054726368155vw;
        }

        &>#mv-textarea-line-2 {
            bottom: 49.75124378109453vw;
        }

        &>#mv-textarea-line-3 {
            bottom: 37.3134328358209vw;
        }

        &>#mv-textarea-line-4 {
            bottom: 24.875621890547265vw;
        }

        &>#mv-submit-button {
            position: absolute;
            bottom: 7.462686567164178vw;
            left: 4.975124378109453vw;
            width: 65.17412935323384vw;
            height: 9.950248756218906vw;
            text-align: center;
            font-size: 4.975124378109453vw;
            font-weight: 600;
            line-height: 4.975124378109453vw;
            color: var(--outline);
            background: var(--dtSeparationLine);
            transition: color 0.3s ease-in-out, border 0.3s ease-in-out, background 0.3s ease-in-out;
        }

        &>.mv-activ-button {
            background: rgba(0, 154, 236, 0.3) !important;
        }

    }

    #mv-fifvth-section-second-content {
        position: absolute;
        bottom: 18.90547263681592vw;
        left: 12.437810945273633vw;
        width: 75.12437810945273vw;
        height: 22.885572139303484vw;
        background: rgba(232, 232, 232, 0.1);
        border: 0.24875621890547264vw solid rgba(0, 136, 204, 0.5);

        &>.mv-fifvth-section-second-content-svg {
            width: 7.462686567164178vw;
            height: 7.462686567164178vw;
            object-fit: contain;
            position: absolute;
        }

        &>#mv-fifvth-section-second-content-svg-phone {
            top: 2.9850746268656714vw;
            left: 4.975124378109453vw;
        }

        &>#mv-fifvth-section-second-content-svg-email {
            position: absolute;
            top: 2.9850746268656714vw;
            left: 19.402985074626866vw;
        }

        &>#mv-fifvth-section-second-content-svg-facebook {
            top: 2.9850746268656714vw;
            left: 33.83084577114428vw;
        }

        &>#mv-fifvth-section-second-content-svg-telegram {
            top: 2.9850746268656714vw;
            left: 48.258706467661696vw;
        }

        &>#mv-fifvth-section-second-content-svg-x {
            top: 2.9850746268656714vw;
            right: 4.975124378109453vw;
        }

        &>#mv-fifvth-section-second-content-svg-whatsapp {
            bottom: 2.4875621890547266vw;
            left: 4.975124378109453vw;
        }

        &>#mv-fifvth-section-second-content-svg-vk {
            bottom: 2.4875621890547266vw;
            left: 19.402985074626866vw;
        }

        &>#mv-fifvth-section-second-content-logo {
            width: 36.318407960199vw;
            height: 5.721393034825871vw;
            position: absolute;
            bottom: 3.233830845771144vw;
            right: 4.975124378109453vw;
            color: var(--dtMain);
            font-weight: 300;
            font-size: 3.482587064676617vw;
            line-height: 4.179104477611941vw;
            letter-spacing: 0.15em;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: visible;
        }
    }

    &>#mv-send-to-application {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 217.4129353233831vw;
        z-index: 10;
        background: rgba(0, 13, 21, 0.3);
        backdrop-filter: blur(1.9900497512437811vw);

        &>#mv-send-to-application-main-content {
            position: absolute;
            top: 59.70149253731343vw;
            left: 12.437810945273633vw;
            width: 75.12437810945273vw;
            height: 97.76119402985076vw;
            background: rgba(0, 63, 98, 0.4);
            border: 0.24875621890547264vw solid var(--darkBlue);
            backdrop-filter: blur(2.4875621890547266vw);

            &>#mv-send-to-application-main-content-title {
                position: absolute;
                top: 7.462686567164178vw;
                left: 12.437810945273633vw;
                width: 50.24875621890548vw;
                height: 14.925373134328357vw;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 5.970149253731343vw;
                font-weight: 400;
                line-height: 7.164179104477612vw;
                text-align: center;
                color: var(--blue);
            }

            &>#mv-send-to-application-main-content-text {
                position: absolute;
                top: 27.363184079601986vw;
                left: 12.437810945273633vw;
                width: 50.24875621890548vw;
                height: 30.597014925373134vw;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 4.477611940298507vw;
                font-weight: 300;
                line-height: 6.26865671641791vw;
                text-align: center;
                color: var(--blue);
                overflow: visible;
            }

            &>#mv-send-to-application-main-content-img {
                position: absolute;
                bottom: 7.462686567164178vw;
                left: 25.12437810945274vw;
                width: 24.875621890547265vw;
                height: 24.875621890547265vw;
            }

        }

    }
}

#mv-sixth-section {
    height: auto;
    width: 100vw;
    overflow: visible;
    background:
        radial-gradient(163.06% 88.68% at 61.82% 30.09%, rgba(0, 136, 204, 0.1) 0%, rgba(232, 232, 232, 0) 100%),
        linear-gradient(180deg, #E8E8E8 0%, rgba(232, 232, 232, 0.1) 5.29%, rgba(232, 232, 232, 0.01) 95.55%, #E8E8E8 100%),
        linear-gradient(0deg, #E8E8E8, #E8E8E8);


    &>#mv-sixth-section-title-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: auto;
        width: 78.60696517412936vw;
        padding-top: 9.950248756218906vw;
        margin-left: 12.437810945273633vw;

        &>#mv-sixth-section-title {
            width: 24.875621890547265vw;
            height: 8.706467661691542vw;
            font-size: 5.970149253731343vw;
            font-weight: 400;
            line-height: 5.970149253731343vw;
            color: var(--ltText);
        }

        &>#mv-sixth-section-number-of-reviews {
            width: 17.412935323383085vw;
            height: 8.706467661691542vw;
            font-size: 4.975124378109453vw;
            font-weight: 400;
            line-height: 5.970149253731343vw;
            color: var(--ltText);
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Lato';
        }
    }

    &>#mv-sixth-section-main-block {
        height: auto;
        width: 75.12437810945273vw;
        margin-top: 7vw;
        margin-left: 12.437810945273633vw;

        &>#mv-sixth-section-main-block-photo {
            width: 24.875621890547265vw;
            height: 31.8407960199005vw;
            border: 0.4975124378109453vw solid rgba(46, 46, 46, 0.5);
            position: absolute;
            z-index: 3;
            transition: opacity 0.3s ease-in-out;
        }

        &>#mv-sixth-section-main-block-arrow-left {
            height: 7.462686567164178vw;
            width: 7.462686567164178vw;
            object-fit: contain;
            margin-left: 57.711442786069654vw;
            position: relative;
            pointer-events: all;
        }

        &>#mv-sixth-section-main-block-arrow-right {
            height: 7.462686567164178vw;
            width: 7.462686567164178vw;
            object-fit: contain;
            position: relative;
            pointer-events: all;
        }

        &>#mv-sixth-section-main-block-all-text {
            z-index: 2;
            height: auto;
            width: 70.8955223880597vw;
            margin-left: 4.228855721393035vw;
            position: relative;
            border: 0.24875621890547264vw solid rgba(46, 46, 46, 0.5);
            background: rgba(0, 136, 204, 0.02);
            transition: height 0.3s ease-in-out;


            &>#mv-sixth-section-main-block-all-text-upper-line {
                width: 45.27363184079602vw;
                height: 0.12437810945273632vw;
                margin-top: 4.975124378109453vw;
                margin-left: 23.134328358208954vw;
                background: linear-gradient(270deg, rgba(46, 46, 46, 0) 0%, #2E2E2E 86.03%, rgba(46, 46, 46, 0) 100%);
            }

            &>#mv-sixth-section-main-block-all-text-title {
                width: 45.27363184079602vw;
                height: 9.45273631840796vw;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 23.134328358208954vw;
                font-weight: 300;
                font-size: 5.272636815920398vw;
                line-height: 5.472636815920398vw;
                color: var(--ltText);
                transition: opacity 0.3s ease-in-out, left 0.3s ease-in-out;
            }

            &>#mv-sixth-section-main-block-all-text-lower-line {
                width: 45.27363184079602vw;
                height: 0.32437810945273632vw;
                margin-left: 23.134328358208954vw;
                background: linear-gradient(270deg, rgba(46, 46, 46, 0) 0%, #2E2E2E 14.42%, rgba(46, 46, 46, 0) 100%);
            }

            &>#mv-sixth-section-main-text-review-0 {
                width: 63.43283582089553vw;
                height: auto;
                margin-top: 10.462686567164178vw;
                margin-left: 4.975124378109453vw;
                font-size: 3.9800995024875623vw;
                font-weight: 300;
                line-height: 4.776119402985075vw;
                color: var(--ltText);
                transition: opacity 0.3s ease-in-out;
                overflow: visible;
            }

            &>#mv-sixth-section-main-text-review-1 {
                height: auto;
                width: 63.43283582089553vw;
                margin-top: 4.776119402985075vw;
                margin-left: 4.975124378109453vw;
                margin-bottom: 4.975124378109453vw;
                font-size: 3.9800995024875623vw;
                font-weight: 300;
                line-height: 4.776119402985075vw;
                color: var(--ltText);
                overflow: visible;
                transition: opacity 0.3s ease-in-out;
            }
        }
    }

    &>#mv-sixth-section-lower-img {
        width: 75.12437810945273vw;
        height: 110.21641791044776vw;
        margin-top: 12.437810945273633vw;
        margin-left: 12.437810945273633vw;
        margin-bottom: 17.89303482587065vw;
    }

}

#mv-footer-eng {
    width: 100vw;
    height: 24.875621890547265vw;
    position: relative;
    background: var(--outline);

    &>#mv-footer-eng-0 {
        width: 15.671641791044777vw;
        height: 9.950248756218906vw;
        position: absolute;
        top: 2.4875621890547266vw;
        left: 12.437810945273633vw;
        font-size: 4.477611940298507vw;
        font-weight: 700;
        line-height: 4.477611940298507vw;
        letter-spacing: 0.1em;
        color: var(--ltText);
        overflow: visible;
    }

    &>#mv-footer-eng-1 {
        width: 13.184079601990051vw;
        height: 9.950248756218906vw;
        position: absolute;
        top: 2.4875621890547266vw;
        left: 40.049751243781095vw;
        font-size: 4.477611940298507vw;
        font-weight: 700;
        line-height: 4.477611940298507vw;
        letter-spacing: 0.1em;
        color: var(--ltText);
        overflow: visible;
    }

    &>#mv-footer-eng-2 {
        width: 22.388059701492537vw;
        height: 9.950248756218906vw;
        position: absolute;
        top: 2.4875621890547266vw;
        left: 65.17412935323384vw;
        font-size: 4.477611940298507vw;
        font-weight: 700;
        line-height: 4.477611940298507vw;
        letter-spacing: 0.1em;
        color: var(--ltText);
        overflow: visible;
    }

    &>#mv-footer-eng-3 {
        width: 10.199004975124378vw;
        height: 7.462686567164178vw;
        position: absolute;
        top: 14.925373134328357vw;
        left: 29.35323383084577vw;
        font-size: 4.477611940298507vw;
        font-weight: 700;
        line-height: 4.477611940298507vw;
        letter-spacing: 0.1em;
        color: var(--ltText);
        overflow: visible;
    }

    &>#mv-footer-eng-4 {
        width: 19.402985074626866vw;
        height: 7.462686567164178vw;
        position: absolute;
        top: 14.925373134328357vw;
        left: 51.49253731343284vw;
        font-size: 4.477611940298507vw;
        font-weight: 700;
        line-height: 4.477611940298507vw;
        letter-spacing: 0.1em;
        color: var(--ltText);
        overflow: visible;
    }
}

#mv-footer-rus {
    width: 100vw;
    height: 14.925373134328357vw;
    position: relative;
    display: none;
    background: var(--outline);

    &>#mv-footer-rus-0 {
        position: absolute;
        top: 4.975124378109453vw;
        left: 5.472636815920398vw;
        width: 14.676616915422885vw;
        height: 4.975124378109453vw;
        font-size: 4.377611940298507vw;
        font-weight: 700;
        line-height: 4.477611940298507vw;
        letter-spacing: 0.1em;
        color: var(--ltText);
    }

    &>#mv-footer-rus-1 {
        position: absolute;
        top: 4.975124378109453vw;
        left: 25.12437810945274vw;
        width: 24.62686567164179vw;
        height: 4.975124378109453vw;
        font-size: 4.377611940298507vw;
        font-weight: 700;
        line-height: 4.477611940298507vw;
        letter-spacing: 0.1em;
        color: var(--ltText);
    }

    &>#mv-footer-rus-2 {
        position: absolute;
        top: 4.975124378109453vw;
        left: 54.72636815920397vw;
        width: 23.134328358208954vw;
        height: 4.975124378109453vw;
        font-size: 4.377611940298507vw;
        font-weight: 700;
        line-height: 4.477611940298507vw;
        letter-spacing: 0.1em;
        color: var(--ltText);
    }

    &>#mv-footer-rus-3 {
        position: absolute;
        top: 4.975124378109453vw;
        left: 82.83582089552239vw;
        width: 11.691542288557214vw;
        height: 4.975124378109453vw;
        font-size: 4.377611940298507vw;
        font-weight: 700;
        line-height: 4.477611940298507vw;
        letter-spacing: 0.1em;
        color: var(--ltText);
    }
}