:root {
    --brown: #170800;
    --brownOrange: #802D00;
    --red: #EB004A;
    --orangeRed: #EC5200;
    --deepDarkBlue: #000D15;
    --darkBlue: #005380;
    --blue: #0285CC;
    --secondBlue: #02A6FF;
    --lightBlue: #009AEC;
    --tabletHorizontalBlue: #006399;
    --secondBrown: #7F2D00;
}

:root {
    --ltMain: #FFFFFF;
    --ltText: #2B2B2B;
    --ltSeparationLine: #D6D6D6;
    --ltElementBackground: #F3F3F3;
    --dtMain: #1C1C1C;
    --dtText: #E8E8E8;
    --dtSeparationLine: #2E2E2E;
    --dtElementBackground: #242424;
    --dtBackgroundColor: #303030;
    --outline: #EDEDED;
    --accent: #0088CC;
    --hover: #007AB8;
    --bad: #ff4f4f;
    --success: #4CAF50;
}

body {
    font-family: 'Segoe UI';
}