:root {
    --brown: #170800;
    --brownOrange: #802D00;
    --red: #EB004A;
    --orangeRed: #EC5200;
    --deepDarkBlue: #000D15;
    --darkBlue: #005380;
    --blue: #0285CC;
    --secondBlue: #02A6FF;
    --lightBlue: #009AEC;
}