:root {
    --ltMain: #FFFFFF;
    --ltText: #2B2B2B;
    --ltSeparationLine: #D6D6D6;
    --ltElementBackground: #F3F3F3;
    --dtMain: #1C1C1C;
    --dtText: #E8E8E8;
    --dtSeparationLine: #2E2E2E;
    --dtElementBackground: #242424;
    --dtBackgroundColor: #303030;
    --outline: #EDEDED;
    --accent: #0088CC;
    --secondAccent: #007AB8;
    --hover: #007AB8;
    --bad: #ff4f4f;
    --success: #4CAF50;
}

body {
    font-family: 'Segoe UI';
}

* {
    translate: none;
}
