#tv-first-section {
    width: 100vw;
    height: 119.94819vw;
    background: linear-gradient(180deg, #000d1500 0%, #000d152f 80%, #000d15 100%),
        linear-gradient(180deg, rgba(0, 154, 236, 0.024) 0%, rgba(0, 154, 236, 0.06) 3.71%, rgba(0, 154, 236, 0) 42.69%, rgba(0, 154, 236, 0) 51.14%, rgba(0, 154, 236, 0.06) 89.34%, rgba(0, 154, 236, 0) 100%),
        linear-gradient(90deg, rgba(0, 13, 21, 0.6) 0%, rgba(0, 13, 21, 0) 49.5%, rgba(0, 13, 21, 0.6) 100%);

    &>#tv-first-section-img-circle {
        position: absolute;
        top: 16.45078vw;
        left: 11.1399vw;
        object-fit: contain;
        width: 77.72021vw;
        height: 77.72021vw;
        transform: rotate(0deg);
        transition: transform 1.8s ease-in-out;
    }

    &>#tv-first-section-logo {
        object-fit: contain;
        position: absolute;
        top: 2.33161vw;
        left: 2.33161vw;
        width: 5.44041vw;
        height: 4.13342vw;
    }

    &>#tv-nav-button {
        position: fixed;
        top: 2.33161vw;
        right: 2.33161vw;
        width: 4.45207vw;
        height: 4.13342vw;
        overflow: visible;
        z-index: 10;

        &>img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &>#tv-central-text-first-section {
        position: absolute;
        width: 44.81865vw;
        height: 10.36269vw;
        top: 50.12953vw;
        left: 27.59067vw;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--lightBlue);
        transition: opacity 0.5s ease-in-out;

        &>#tv-central-text-first-section-up {
            font-size: 3.10881vw;
            font-weight: 400;
            line-height: 3.10881vw;
            width: 100%;
            height: 8.0013vw;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &>#tv-central-text-first-section-down {
            font-size: 2.33161vw;
            font-weight: 700;
            line-height: 2.33161vw;
            overflow: visible;
            width: 32.03238vw;
            height: 2.3614vw;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &>#tv-first-section-main-title {
        position: absolute;
        bottom: 9.97409vw;
        right: 11.1399vw;
        width: 77.72021vw;
        height: 5.82902vw;
        object-fit: contain;
    }
}

#tv-navigation-block {
    display: none;
    width: 36.65803vw;
    height: 100dvh;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 100vw;
    transition: left 0.5s ease-in-out;
    background-image: linear-gradient(166.39deg, rgba(0, 76, 123, 0.2) 4.94%, rgba(0, 13, 21, 0.2) 14.94%, rgba(0, 13, 21, 0.2) 35.08%, rgba(0, 76, 123, 0.2) 69.97%, rgba(0, 13, 21, 0.2) 89.82%);
    backdrop-filter: blur(2.4875621890547266vw);



    &>#tv-navigation-block-title {
        width: 16.70984vw;
        height: 2.59179dvh;
        position: absolute;
        top: 3.45572dvh;
        left: 2.59067vw;
        font-size: min(3.10881vw, 2.59179dvh);
        font-weight: 600;
        line-height: 2.59179dvh;
        color: var(--secondBlue);
        overflow: visible;
    }

    &>#tv-navigation-block-lang-button {
        width: 7.38342vw;
        height: 2.59179dvh;
        position: absolute;
        top: 3.45572dvh;
        right: 2.59067vw;
        font-weight: 600;
        font-size: min(3.10881vw, 2.59179dvh);
        color: var(--secondBlue);
        overflow: visible;
    }

    &>#tv-navigation-block-title-line {
        width: 31.47668vw;
        height: 0.10799dvh;
        position: absolute;
        top: 7.12743dvh;
        left: 2.59067vw;
        background-color: var(--darkBlue);
    }

    &>.tv-navigation-block-item {
        width: 31.47668vw;
        height: 11.44708dvh;
        position: absolute;
        left: 2.59067vw;
        overflow: visible;


        &>.tv-navigation-block-item-title {
            font-weight: 400;
            font-size: min(3.10881vw, 2.59179dvh);
            line-height: 2.59179dvh;
            color: var(--lightBlue);
            position: absolute;
            top: 0;
            left: 0;
        }

        &>.tv-navigation-block-item-text {
            font-weight: 300;
            font-size: min(2.59067vw, 2.15983dvh);
            line-height: 2.59179dvh;
            color: var(--secondBlue);
            position: absolute;
            left: 0;
            top: 3.67171dvh;
        }
    }

    &>#tv-navigation-block-item-0 {
        top: 9.28726dvh;
    }

    &>#tv-navigation-block-item-1 {
        top: 22.89417dvh;
    }

    &>#tv-navigation-block-item-2 {
        top: 36.50108dvh;
    }

    &>#tv-navigation-block-item-3 {
        top: 52.69978dvh;
    }

    &>#tv-navigation-block-item-4 {
        top: 68.89849dvh;
    }

    &>.tv-nav-img {
        object-fit: contain;
        width: 5.82902vw;
        height: 4.85961dvh;
        position: absolute;
    }

    &>#tv-nav-img-phone {
        bottom: 10.47516dvh;
        left: 2.59067vw;
    }

    &>#tv-nav-img-email {
        bottom: 10.47516dvh;
        left: 11.01036vw;
    }

    &>#tv-nav-img-facebook {
        bottom: 10.47516dvh;
        left: 19.43005vw;
    }

    &>#tv-nav-img-telegram {
        bottom: 10.47516dvh;
        right: 2.97927vw;
    }

    &>#tv-nav-img-x {
        bottom: 3.45572dvh;
        left: 2.59067vw;
    }

    &>#tv-nav-img-vk {
        bottom: 3.45572dvh;
        left: 11.01036vw;
    }

    &>#tv-nav-img-whatsapp {
        bottom: 3.45572dvh;
        right: 11.39896vw;
    }

    &>#tv-nav-img-logo {
        position: absolute;
        width: 5.44041vw;
        height: 3.446dvh;
        bottom: 4.0054dvh;
        right: 3.23834vw;
    }
}

#tv-second-section {
    width: 100vw;
    height: 119.94819vw;
    position: relative;

    &>#tv-second-section-title {
        font-weight: 600;
        font-size: 3.62694vw;
        color: var(--blue);
        position: absolute;
        top: 6.47668vw;
        left: 6.47668vw;
    }

    &>.tv-second-section-text {
        width: 87.04663vw;
        font-weight: 500;
        font-size: 3.10881vw;
        line-height: 4.35233vw;
        position: absolute;
        left: 6.47668vw;
        color: var(--blue);
    }

    &>#tv-second-section-text-0 {
        top: 15.93264vw;
        height: 13.21244vw;
    }

    &>#tv-second-section-text-1 {
        top: 30.44041vw;
        height: 8.80829vw;
    }

    &>#tv-second-section-img {
        object-fit: contain;
        width: 66.50259vw;
        height: 50.51813vw;
        position: absolute;
        bottom: 25.51813vw;
        left: 6.47668vw;
    }

    &>.tv-second-section-button {
        position: absolute;
        height: 5.82902vw;
        left: 6.47668vw;

        &>.tv-second-section-button-wrapper {
            position: absolute;
            top: 0;
            left: 0;
        }

    }

    &>#tv-second-section-button-contacts {
        width: 73.38083vw;
        bottom: 13.34197vw;

        &>p {
            position: absolute;
            left: 2.72021vw;
            height: 5.56995vw;
            font-weight: 600;
            font-size: 2.59067vw;
            display: flex;
            align-items: center;
            width: 45.59585vw;
            color: var(--blue);
        }

        &>.second-section-click {
            object-fit: contain;
            width: 4.66321vw;
            height: 4.66321vw;
            position: absolute;
            right: 10.16839vw;
            top: 0.64767vw;
        }
    }

    &>#tv-second-section-button-services {
        width: 78.23834vw;
        bottom: 4.92228vw;

        &>p {
            position: absolute;
            left: 2.72021vw;
            height: 5.56995vw;
            font-weight: 600;
            font-size: 2.59067vw;
            display: flex;
            align-items: center;
            width: 54.92228vw;
            color: var(--blue);
        }

        &>.second-section-click {
            object-fit: contain;
            width: 4.66321vw;
            height: 4.66321vw;
            position: absolute;
            right: 7.90155vw;
            top: 0.64767vw;

        }
    }
}

#tv-third-section {
    width: 100vw;
    height: 119.94819vw;
    position: relative;
    overflow: hidden;

    &>#tv-third-section-title {
        position: absolute;
        width: 20.20725vw;
        height: 4.27461vw;
        top: 6.47668vw;
        left: 6.47668vw;
        font-size: 3.62694vw;
        font-weight: 400;
        color: var(--blue);
    }

    &>#tv-third-section-title-line {
        position: absolute;
        width: 64.30829vw;
        height: 13.56347vw;
        top: -2.58472vw;
        left: 28.49741vw;
        z-index: 3;
    }


    &>#tv-third-section-main-img-wrapper {
        position: absolute;
        top: 17.22798vw;
        left: 6.47668vw;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35.49223vw;
        height: 35.49223vw;
        background: rgba(0, 154, 236, 0.05);
        border: 0.10799vw solid var(--secondBlue);

        &>img {
            width: 26.0272vw;
            height: 26.0272vw;
        }
    }

    &>#tv-price-list-wrapper {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100vw;
        height: 119.94819vw;
        display: none;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        backdrop-filter: blur(1.29534vw);

        &>#tv-price-list-block {
            width: 64.76684vw;
            height: 77.72021vw;
            position: absolute;
            top: 21.11399vw;
            left: 17.61658vw;
            background: rgba(0, 63, 98, 0.4);
            border: 0.12953vw solid var(--darkBlue);
            backdrop-filter: blur(1.29534vw);

            &>#tv-price-list-title {
                position: absolute;
                top: 3.88601vw;
                left: 3.88601vw;
                width: 22.66839vw;
                height: 4.27461vw;
                font-size: 3.62694vw;
                font-weight: 400;
                line-height: 3.62694vw;
                color: #EAF8FF;
            }

            &>#tv-price-list-x-mark {
                position: absolute;
                top: 4.66321vw;
                right: 3.88601vw;
                width: 2.59067vw;
                height: 2.59067vw;
                object-fit: contain;
                pointer-events: all;
            }

            &>#tv-price-list-title-line {
                position: absolute;
                top: 10.10363vw;
                left: 3.88601vw;
                width: 56.99482vw;
                height: 0.12953vw;
                background: rgba(0, 154, 236, 0.6)
            }

            &>#tv-price-list-item-wrapper {
                width: 56.99482vw;
                height: 45.46632vw;
                position: absolute;
                top: 13.98964vw;
                left: 3.88601vw;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                overflow: visible;

                &>.tv-price-list-item {
                    width: 56.99482vw;
                    height: 4.27461vw;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    overflow: visible;
                    color: #EAF8FF;
                    font-size: 2.84974vw;
                    line-height: 2.84974vw;
                    font-weight: 300;

                    &>.tv-price-list-service-name {
                        width: 44.04145vw;
                        height: 4.27461vw;
                        overflow: visible;
                        display: flex;
                        align-items: center;
                    }

                    &>.tv-price-list-service-cost {
                        width: 7.77202vw;
                        height: 4.27461vw;
                        display: flex;
                        align-items: center;
                    }
                }
            }

            &>#tv-price-list-footer-line {
                position: absolute;
                bottom: 14.37824vw;
                left: 3.88601vw;
                width: 56.99482vw;
                height: 0.12953vw;
                background: rgba(0, 154, 236, 0.6)
            }

            &>#tv-price-list-footer {
                width: 56.99482vw;
                height: 8.80829vw;
                position: absolute;
                bottom: 2.97927vw;
                left: 3.88601vw;
                font-size: 2.33161vw;
                font-weight: 300;
                line-height: 3.26425vw;
                color: #EAF8FF;
                overflow: visible;
            }
        }
    }

    &>#tv-third-section-wrapper-right-five-buttons {
        position: absolute;
        height: 35.49223vw;
        width: 5.18135vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        left: 44.04145vw;
        top: 17.22798vw;
        pointer-events: all;

        &>.tv-third-section-wrapper-right-five-buttons {
            width: 5.18135vw;
            height: 5.18135vw;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 0.24875621890547264vw solid var(--secondBlue);
            background: linear-gradient(179.79deg, rgba(0, 0, 0, 0.2) 0.23%, rgba(0, 41, 63, 0.3) 61.99%, rgba(0, 0, 0, 0.2) 99.87%);

            &>.tv-third-section-right-four-buttons {
                object-fit: contain;
                width: 3.10881vw;
                height: 3.10881vw;
            }
        }

        &>#tv-button-more-lower-part-buttons-3 {
            width: 5.18135vw;
            height: 5.18135vw;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 0.24875621890547264vw solid var(--orangeRed);
            background: linear-gradient(179.79deg, rgba(0, 0, 0, 0.2) 0.23%, rgba(0, 41, 63, 0.3) 61.99%, rgba(0, 0, 0, 0.2) 99.87%);

        }
    }

    &>#tv-third-section-title-of-service {
        position: absolute;
        top: 56.60622vw;
        left: 6.47668vw;
        width: 35.36269vw;
        height: 3.75648vw;
        display: flex;
        align-items: center;
        font-weight: 300;
        font-size: 3.10881vw;
        color: var(--secondBlue);
        overflow: visible;
    }

    &>#tv-third-section-text-about-service-0 {
        position: absolute;
        top: 62.95337vw;
        left: 6.47668vw;
        width: 61.65803vw;
        height: auto;
        font-weight: 300;
        font-size: 2.33161vw;
        line-height: 3.03109vw;
        color: var(--secondBlue);
        text-rendering: optimizeLegibility;
        will-change: transform;
    }

    &>#tv-third-section-text-about-service-1 {
        position: absolute;
        bottom: 13.4715vw;
        left: 6.47668vw;
        width: 61.65803vw;
        height: auto;
        font-weight: 300;
        font-size: 2.33161vw;
        line-height: 3.03109vw;
        color: var(--secondBlue);
    }

    &>#tv-third-section-top-arrow {
        position: absolute;
        object-fit: contain;
        pointer-events: all;
        width: 3.88601vw;
        height: 1.94301vw;
        top: 6.73575vw;
        right: 13.4715vw;
        z-index: 6;
    }

    &>#tv-third-section-bottom-arrow {
        position: absolute;
        object-fit: contain;
        pointer-events: all;
        width: 3.88601vw;
        height: 1.94301vw;
        bottom: 6.34715vw;
        right: 15.02591vw;
        z-index: 6;
    }

    &>.tv-third-section-right-services {
        width: 20.72539vw;
        height: 20.72539vw;
        position: absolute;
        right: 7.25389vw;
        background: rgba(0, 154, 236, 0.05);
        border: 0.10799vw solid var(--secondBlue);
        transition: opacity 0.3s ease-in-out, top 0.3s ease-in-out;

        &>img {
            width: 13.81736vw;
            height: 13.81736vw;
            position: absolute;
            top: 1.72668vw;
            left: 3.45466vw;
        }

        &>h3 {
            width: 13.81736vw;
            height: auto;
            position: absolute;
            left: 3.45466vw;
            bottom: 2.07254vw;
            font-weight: 300;
            font-size: 1.81347vw;
            line-height: 2.17617vw;
            color: var(--secondBlue);
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            overflow: visible;
        }
    }

    &>#tv-third-section-right-services-0 {
        top: 8.67876vw;
    }

    &>#tv-third-section-right-services-1 {
        top: 31.99482vw;
    }

    &>#tv-third-section-right-services-2 {
        top: 55.31088vw;
    }

    &>#tv-third-section-right-services-3 {
        top: 78.62694vw;
    }

    &>#tv-third-section-right-services-4 {
        top: 102.07254vw;
    }

    &>.tv-third-section-black-blocks {
        position: absolute;
        right: 5.25389vw;
        z-index: 4;
        width: 23.72539vw;
        height: 12.54663vw;
    }

    &>#tv-third-section-black-blocks-top {
        top: 8.57876vw;
        background: linear-gradient(180deg, #000D15 43.55%, rgba(0, 13, 21, 0) 100%);
    }

    &>#tv-third-section-black-blocks-bottom {
        height: 16.96891vw;
        background: linear-gradient(180deg, rgba(0, 13, 21, 0) 0%, #000D15 38.38%);
        bottom: 0;
    }

    &>#tv-third-section-bootom-line {
        position: absolute;
        width: 85.81088vw;
        height: 13.56347vw;
        bottom: -5.27332vw;
        left: 6.47668vw;
        z-index: 5;
    }
}

#tv-four-section {
    position: relative;
    width: 100vw;
    height: 119.94819vw;
    overflow: visible;

    &>#tv-four-section-blue-gradient {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 119.94819vw;
        background:
            linear-gradient(180deg, rgba(0, 13, 21, 0) 0%, rgba(0, 154, 236, 0.12) 22.13%, rgba(191, 96, 45, 0.015) 81.71%, rgba(236, 82, 0, 0.12) 87.91%, rgba(0, 13, 21, 0) 97.73%),
            linear-gradient(270deg, rgba(0, 13, 21, 0.6) 0%, rgba(0, 0, 0, 0.06) 6.56%, rgba(0, 0, 0, 0) 50.5%, rgba(0, 0, 0, 0.06) 93.54%, rgba(0, 13, 21, 0.6) 100%);
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
    }

    &>#tv-four-section-red-gradient {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 119.94819vw;
        background:
            linear-gradient(180deg, rgba(0, 13, 21, 0) 0%, rgba(236, 82, 0, 0.12) 22.13%, rgba(191, 96, 45, 0.015) 81.71%, rgba(236, 82, 0, 0.12) 87.91%, rgba(0, 13, 21, 0) 97.73%),
            linear-gradient(270deg, rgba(0, 13, 21, 0.6) 0%, rgba(0, 0, 0, 0.06) 6.56%, rgba(0, 0, 0, 0) 50.5%, rgba(0, 0, 0, 0.06) 93.54%, rgba(0, 13, 21, 0.6) 100%);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    &>#tv-four-section-title {
        width: 40.15544vw;
        height: 4.53368vw;
        font-weight: 400;
        font-size: 3.62694vw;
        color: var(--blue);
        position: absolute;
        top: 6.47668vw;
        left: 6.47668vw;
        display: flex;
        align-items: center;
    }

    &>#tv-main-send-form {
        position: absolute;
        width: 87.04663vw;
        height: 80.82902vw;
        top: 17.48705vw;
        left: 6.47668vw;
        background-color: rgba(0, 83, 128, 0.07);
        border: 0.10417vw solid rgba(0, 154, 236, 0.5);
        z-index: 2;
        overflow: visible;

        &>#tv-main-send-form-title {
            font-weight: 400;
            font-size: 3.10881vw;
            color: var(--blue);
            position: absolute;
            top: 6.47668vw;
            left: 28.49741vw;
            transition: color 0.3s ease-in-out;
        }


        &>#tv-input-first-name,
        &>#tv-input-last-name,
        &>#tv-input-phone,
        &>#tv-input-email {
            width: 35.06347vw;
            height: 5.18135vw;
            position: absolute;
            font-weight: 300;
            font-size: 2.59067vw;
            color: var(--blue);
            border-bottom: 0.12953vw solid var(--blue);
            padding-left: 0.64767vw;
            transition: border-bottom 0.3s ease-in-out, color 0.3s ease-in-out;

            &::placeholder {
                font-size: 2.59067vw;
                color: var(--darkBlue);
                font-weight: 300;
                transition: opacity 0.3s ease-in-out;
            }
        }

        &>.tv-input-placeholder::placeholder {
            font-size: 2.59067vw;
            color: var(--orangeRed) !important;
            font-weight: 300;
            transition: opacity 0.3s ease-in-out;
        }


        &>#tv-input-first-name {
            top: 16.06218vw;
            left: 6.34715vw;
        }

        &>#tv-input-last-name {
            top: 16.06218vw;
            left: 45.21244vw;
        }

        &>#tv-input-phone {
            top: 27.72021vw;
            left: 6.34715vw;
        }

        &>#tv-input-email {
            top: 27.72021vw;
            left: 45.21244vw;
        }


        &>#tv-choice-serveces-title {
            width: 35.12565vw;
            height: 5.18135vw;
            position: absolute;
            color: var(--blue);
            font-weight: 300;
            font-size: 2.59067vw;
            line-height: 2.59067vw;
            top: 39.37824vw;
            left: 6.34715vw;
            display: flex;
            align-items: center;
        }


        &>#tv-drop-list-wrapper {
            width: 36.12565vw;
            height: 5.18135vw;
            position: absolute;
            overflow: hidden;
            top: 39.37824vw;
            right: 6.34715vw;
            z-index: 3;
            transition: height 0.3s ease-in-out;

            &>#tv-choice-of-service {
                width: 35.12565vw;
                height: 5.18135vw;
                position: absolute;
                border-bottom-color: rgba(2, 133, 204, 1);
                border-bottom-width: 0.12953vw;
                border-bottom-style: solid;
                padding-left: 0.85492vw;
                padding-right: 0.85492vw;
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;
                transition: border-bottom-color ease-in-out 0.3s;
                overflow: hidden;

                &>#tv-choice-of-service-placeholder {
                    color: var(--darkBlue);
                    font-weight: 300;
                    font-size: 2.59067vw;
                    transition: color ease-in-out 0.3s;
                    overflow: hidden;
                }

                &>#tv-choice-of-service-arrow {
                    object-fit: contain;
                    width: 1.5544vw;
                    height: 1.5544vw;
                    position: absolute;
                    right: 1.5vw;
                    transition: rotate 0.4s ease-in-out;

                    & path {
                        transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out;
                    }
                }
            }
        }

        &>#tv-textarea {
            width: 74.35233vw;
            height: 11.65803vw;
            position: absolute;
            font-weight: 300;
            color: var(--blue);
            top: 51.03627vw;
            left: 6.34715vw;
            overflow: hidden;
            line-height: 250%;
            font-size: 2.59067vw;
            word-wrap: break-word;
            overflow-y: hidden;
            padding-top: 0.84197vw;


            &::placeholder {
                font-size: 2.59067vw;
                color: var(--darkBlue);
                font-weight: 300;
            }
        }

        &>#tv-placeholder-textarea {
            width: 74.35233vw;
            height: 6.47668vw;
            background: transparent;
            border-bottom: 0.12953vw solid var(--blue);
            border-top: 0.12953vw solid var(--blue);
            position: absolute;
            bottom: 16.13472vw;
            left: 6.34715vw;
        }


        &>#tv-send-form-submit {
            position: absolute;
            width: 36.26943vw;
            height: 5.18135vw;
            left: 25.3886vw;
            bottom: 6.47668vw;
            background-color: rgba(0, 13, 21, 0.8);
            border: 0.10799vw solid var(--deepDarkBlue);
            color: var(--darkBlue);
            font-weight: 600;
            font-size: 2.84974vw;
            line-height: 2.84974vw;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.3s ease-in-out;
        }

        &>#tv-send-form-submit.th-send-form-submit-activ {
            color: var(--blue);
            background-color: #004C7B;
            border: 0.12953vw solid var(--secondBlue);
        }
    }

    &>#tv-four-section-contacts {
        position: absolute;
        bottom: 9.97409vw;
        right: 6.47668vw;
        background: rgba(127, 45, 0, 0.1);
        border: 0.10799vw solid rgba(236, 82, 0, 0.5);
        width: 87.04663vw;
        height: 9.06736vw;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        &>.tv-four-section-contacts {
            width: 5.18135vw;
            height: 5.18135vw;
            object-fit: contain;
        }
    }

}


#tv-drop-list {
    width: 35.88083vw;
    height: 42.74611vw;
    position: absolute;
    z-index: 10;
    border-width: 0.12953vw 0.12953vw 0.12953vw 0.12953vw;
    border-style: solid;
    border-color: rgba(0, 154, 236, 0.5);
    border-bottom-left-radius: 0.12953vw;
    border-bottom-right-radius: 0.12953vw;
    text-align: left;
    background-color: rgba(0, 13, 21, 0.7);
    opacity: 0;
    top: 5.18135vw;
    display: inline-block;
    display: flex;
    flex-wrap: wrap;
    transition: opacity 0.3s ease-in-out;
    overflow: visible;
    pointer-events: none;


    &>.tv-drop-list-item {
        width: 35.88083vw;
        height: 5.44041vw;
        display: flex;
        align-items: center;
        padding-left: 1.03627vw;
        color: var(--lightBlue);
        font-size: 2.59067vw;
        text-align: left;
        font-weight: 300;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.5);
        overflow: visible;
    }

    &>.tv-drop-list-item:first-child {
        padding-top: 1.29534vw;
    }

    &>.tv-drop-list-item:last-child {
        padding-bottom: 1.29534vw;
    }

}

#tv-five-section {
    position: relative;
    overflow: visible;
    width: 100vw;
    height: 119.94819vw;

    &>#tv-five-section-title {
        position: absolute;
        top: 6.47668vw;
        left: 6.47668vw;
        width: 34.97409vw;
        height: 4.53368vw;
        font-weight: 400;
        font-size: 3.62694vw;
        line-height: 3.62694vw;
        color: var(--blue);
    }

    &>#tv-five-section-button-left {
        position: absolute;
        object-fit: contain;
        bottom: 15.41451vw;
        right: 17.61658vw;
        width: 3.88601vw;
        height: 7.77202vw;
        pointer-events: all;
        z-index: 3;
    }

    &>#tv-five-section-button-right {
        position: absolute;
        object-fit: contain;
        bottom: 15.41451vw;
        right: 6.47668vw;
        width: 3.88601vw;
        height: 7.77202vw;
        pointer-events: all;
        z-index: 3;
    }

    &>#tv-reviews-wrapper-left {
        width: 42.74611vw;
        min-height: 89.89637vw;
        position: absolute;
        top: 14.63731vw;
        left: 6.47668vw;
        overflow: visible;
        opacity: 1;
        transition: opacity 0.5s ease-in-out, left 0.5s ease-in-out;

        &>#tv-reviews-photo-left {
            pointer-events: none;
            width: 12.95337vw;
            height: 16.58031vw;
            border: 0.12953vw solid rgba(0, 154, 236, 0.5);
            position: absolute;
            right: 0;
            top: 0;
            z-index: 2;
        }

        &>.tv-reviews-wrapper-text {
            display: flex;
            min-height: 87.04663vw;
            width: 33.67876vw;
            position: absolute;
            left: 0;
            top: 2.84974vw;
            flex-wrap: wrap;
            line-height: 3.10881vw;
            overflow: visible;
            border: 1px solid rgba(0, 154, 236, 0.5);
            background: rgba(0, 83, 128, 0.05);

            &>.tv-reviews-name {
                font-weight: 400;
                font-size: 2.59067vw;
                color: var(--lightBlue);
                width: 23.31606vw;
                height: 3.10881vw;
                position: absolute;
                left: 2.59067vw;
                top: 2.59067vw;
            }


            &>.tv-reviews-text {
                font-weight: 300;
                font-size: 2.59067vw;
                line-height: 3.10881vw;
                color: var(--blue);
                margin-top: 7.77202vw;
                margin-left: 2.59067vw;
                width: 25.90674vw;
            }

            &>.tv-second-reviews-text {
                font-weight: 300;
                font-size: 2.59067vw;
                line-height: 3.10881vw;
                color: var(--blue);
                margin-left: 2.59067vw;
                width: 25.90674vw;
            }
        }
    }

    &>#tv-reviews-wrapper-right {
        width: 42.74611vw;
        min-height: 89.89637vw;
        position: absolute;
        top: 3.62694vw;
        left: 50.7772vw;
        overflow: visible;
        opacity: 1;
        transition: opacity 0.5s ease-in-out, left 0.5s ease-in-out;


        &>#tv-reviews-photo-right {
            pointer-events: none;
            width: 12.95337vw;
            height: 16.58031vw;
            border: 0.12953vw solid rgba(0, 154, 236, 0.5);
            position: absolute;
            right: 0;
            top: 0;
            z-index: 2;
        }

        &>.tv-reviews-wrapper-text {
            display: flex;
            min-height: 87.04663vw;
            width: 33.67876vw;
            position: absolute;
            left: 0;
            top: 2.84974vw;
            flex-wrap: wrap;
            line-height: 3.10881vw;
            overflow: visible;
            border: 1px solid rgba(0, 154, 236, 0.5);
            background: rgba(0, 83, 128, 0.05);

            &>.tv-reviews-name {
                font-weight: 400;
                font-size: 2.59067vw;
                color: var(--lightBlue);
                width: 23.31606vw;
                height: 3.10881vw;
                position: absolute;
                left: 2.59067vw;
                top: 2.59067vw;
            }


            &>.tv-reviews-text {
                font-weight: 300;
                font-size: 2.59067vw;
                line-height: 3.10881vw;
                color: var(--blue);
                margin-top: 7.77202vw;
                margin-left: 2.59067vw;
                width: 25.90674vw;
            }

            &>.tv-second-reviews-text {
                font-weight: 300;
                font-size: 2.59067vw;
                line-height: 3.10881vw;
                color: var(--blue);
                margin-left: 2.59067vw;
                width: 25.90674vw;
            }
        }
    }
}

#tv-footer-eng {
    width: 100vw;
    height: 7.77202vw;
    position: relative;
    overflow: visible;


    &>#tv-footer-eng-0 {
        width: 11.65803vw;
        height: 7.77202vw;
        position: absolute;
        left: 6.73575vw;
        font-size: 3.36788vw;
        font-weight: 700;
        line-height: 3.36788vw;
        letter-spacing: 0.1em;
        color: var(--blue);
        overflow: visible;
        display: flex;
        align-items: center;
    }

    &>#tv-footer-eng-1 {
        width: 9.84456vw;
        height: 7.77202vw;
        position: absolute;
        left: 24.87047vw;
        font-size: 3.36788vw;
        font-weight: 700;
        line-height: 3.36788vw;
        letter-spacing: 0.1em;
        color: var(--blue);
        overflow: visible;
        display: flex;
        align-items: center;
    }

    &>#tv-footer-eng-2 {
        width: 16.83938vw;
        height: 7.77202vw;
        position: absolute;
        left: 41.19171vw;
        font-size: 3.36788vw;
        font-weight: 700;
        line-height: 3.36788vw;
        letter-spacing: 0.1em;
        color: var(--blue);
        overflow: visible;
        display: flex;
        align-items: center;
    }

    &>#tv-footer-eng-3 {
        width: 7.64249vw;
        height: 7.77202vw;
        position: absolute;
        left: 64.50777vw;
        font-size: 3.36788vw;
        font-weight: 700;
        line-height: 3.36788vw;
        letter-spacing: 0.1em;
        color: var(--blue);
        overflow: visible;
        display: flex;
        align-items: center;
    }

    &>#tv-footer-eng-4 {
        width: 14.63731vw;
        height: 7.77202vw;
        position: absolute;
        left: 78.62694vw;
        font-size: 3.36788vw;
        font-weight: 700;
        line-height: 3.36788vw;
        letter-spacing: 0.1em;
        color: var(--blue);
        overflow: visible;
        display: flex;
        align-items: center;
    }
}

#tv-footer-rus {
    width: 100vw;
    height: 7.77202vw;
    position: relative;
    display: none;

    &>#tv-footer-rus-0 {
        position: absolute;
        left: 8.80829vw;
        width: 11.65803vw;
        height: 7.77202vw;
        font-size: 3.36788vw;
        font-weight: 700;
        line-height: 3.36788vw;
        letter-spacing: 0.1em;
        color: var(--blue);
        font-family: 'Lato';
        display: flex;
        align-items: center;
    }

    &>#tv-footer-rus-1 {
        position: absolute;
        left: 29.14508vw;
        width: 18.65285vw;
        height: 7.77202vw;
        font-size: 3.36788vw;
        font-weight: 700;
        line-height: 3.36788vw;
        letter-spacing: 0.1em;
        color: var(--blue);
        font-family: 'Lato';
        display: flex;
        align-items: center;
    }

    &>#tv-footer-rus-2 {
        position: absolute;
        left: 56.47668vw;
        width: 17.22798vw;
        height: 7.77202vw;
        font-size: 3.36788vw;
        font-weight: 700;
        line-height: 3.36788vw;
        letter-spacing: 0.1em;
        color: var(--blue);
        font-family: 'Lato';
        display: flex;
        align-items: center;
    }

    &>#tv-footer-rus-3 {
        position: absolute;
        left: 82.38342vw;
        width: 8.80829vw;
        height: 7.77202vw;
        font-size: 3.36788vw;
        font-weight: 700;
        line-height: 3.36788vw;
        letter-spacing: 0.1em;
        color: var(--blue);
        font-family: 'Lato';
        display: flex;
        align-items: center;
    }
}