#th-first-section {
    width: 100vw;
    height: 83.36933vw;
    background:
        linear-gradient(180deg, #000d1500 0%, #000d152f 80%, #000d15 100%),
        radial-gradient(40.28% 48.45% at 37.9% 51.55%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.02) 24.72%, rgba(2, 166, 255, 0.05) 44.73%, rgba(2, 166, 255, 0.05) 62.74%, rgba(0, 0, 0, 0) 100%),
        linear-gradient(137.96deg, rgba(0, 0, 0, 0.02) 6.33%, rgba(2, 166, 255, 0.1) 44.97%, rgba(0, 0, 0, 0.02) 81.43%),
        linear-gradient(218.28deg, rgba(0, 13, 21, 0.02) 22.63%, rgba(2, 166, 255, 0.1) 55.34%, rgba(0, 13, 21, 0.02) 87.99%),
        linear-gradient(180.68deg, rgba(0, 13, 21, 0) 73.4%, rgba(0, 13, 21, 0.2) 76.77%, #000D15 99.39%);

    &>#th-first-section-img-circle {
        position: absolute;
        top: 9.28726vw;
        left: 5.39957vw;
        object-fit: contain;
        width: 64.79482vw;
        height: 64.79482vw;
        transition: rotate 1.8s ease-in-out;
    }

    &>#th-first-section-logo {
        object-fit: contain;
        position: absolute;
        top: 1.94384vw;
        left: 1.94384vw;
        width: 4.53564vw;
        height: 3.446vw;
    }

    &>#th-nav-button {
        position: fixed;
        top: 1.94384vw;
        right: 1.94384vw;
        width: 3.71166vW;
        height: 3.446vw;
        overflow: visible;
        z-index: 10;

        &>img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &>#th-central-text-first-section {
        position: absolute;
        width: 37.36501vw;
        height: 8.63931vw;
        top: 37.36501vw;
        left: 19.11447vw;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--lightBlue);
        transition: opacity 0.5s ease-in-out;

        &>#th-central-text-first-section-up {
            font-size: 2.59179vw;
            font-weight: 400;
            line-height: 2.59179vw;
            width: 100%;
            height: 6.67063vw;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &>#th-central-text-first-section-down {
            font-size: 1.94384vw;
            font-weight: 700;
            line-height: 1.94384vw;
            overflow: visible;
            width: 26.70518vw;
            height: 1.96868vw;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &>#th-first-section-main-title {
        position: absolute;
        top: 21.81425vw;
        right: 7.01944vw;
        width: 14.14687vw;
        height: 39.74082vw;
        object-fit: contain;
    }
}

#th-navigation-block {
    display: none;
    width: 43.19654vw;
    height: 100dvh;
    position: fixed;
    z-index: 10;
    top: 0;
    right: -100vw;
    transition: right 0.5s ease-in-out;
    background-image: linear-gradient(166.39deg, rgba(0, 76, 123, 0.2) 4.94%, rgba(0, 13, 21, 0.2) 14.94%, rgba(0, 13, 21, 0.2) 35.08%, rgba(0, 76, 123, 0.2) 69.97%, rgba(0, 13, 21, 0.2) 89.82%);
    backdrop-filter: blur(2.4875621890547266vw);



    &>#th-navigation-block-title {
        width: 13.49892vw;
        height: 3.10881dvh;
        position: absolute;
        top: 4.66321dvh;
        left: 1.94384vw;
        font-size: min(2.59179vw, 3.10881dvh);
        font-weight: 600;
        line-height: 3.10881dvh;
        color: var(--secondBlue);
        overflow: visible;
    }

    &>#th-navigation-block-lang-button {
        width: 4.85961vw;
        height: 3.10881dvh;
        position: absolute;
        top: 4.66321dvh;
        right: 1.94384vw;
        font-weight: 600;
        font-size: min(2.59179vw, 3.10881dvh);
        line-height: 3.10881dvh;
        color: var(--secondBlue);
    }

    &>#th-navigation-block-title-line {
        width: 39.30886vw;
        height: 0.12953dvw;
        position: absolute;
        top: 8.80829dvh;
        left: 1.94384vw;
        background-color: var(--darkBlue);
    }

    &>.th-navigation-block-item {
        width: 37.36501vw;
        height: 10.62176dvh;
        position: absolute;
        left: 3.88769vw;
        overflow: visible;


        &>.th-navigation-block-item-title {
            font-weight: 400;
            font-size: min(2.59179vw, 3.10881dvh);
            line-height: 3.10881dvh;
            color: var(--secondBlue);
            position: absolute;
            top: 0;
            left: 0;
        }

        &>.th-navigation-block-item-text {
            font-weight: 300;
            font-size: min(2.15983vw, 2.59067dvh);
            line-height: 2.59067dvh;
            color: var(--secondBlue);
            position: absolute;
            left: 0;
            top: 4.40415dvh;
        }
    }

    &>#th-navigation-block-item-0 {
        top: 13.4715dvh;
    }

    &>#th-navigation-block-item-1 {
        top: 28.75648dvh;
    }

    &>#th-navigation-block-item-2 {
        top: 44.04145dvh;
    }

    &>#th-navigation-block-item-3 {
        top: 62.43523dvh;
    }

    &>#th-navigation-block-item-4 {
        top: 80.82902dvh;
    }
}

#th-second-section {
    width: 100vw;
    height: 83.36933vw;
    position: relative;
    overflow: visible;


    &>#th-second-section-title {
        font-weight: 600;
        font-size: 3.02376vw;
        line-height: 3.02376vw;
        color: var(--blue);
        position: absolute;
        top: 15.76674vw;
        left: 5.39957vw;
    }

    &>.th-second-section-text {
        width: 28.35853vw;
        font-weight: 500;
        font-size: 2.59179vw;
        line-height: 3.62851vw;
        position: absolute;
        left: 5.39957vw;
        color: var(--blue);
    }

    &>#th-second-section-text-0 {
        top: 25.16199vw;
        height: 25.70194vw;
    }

    &>#th-second-section-text-1 {
        top: 54.10367vw;
        height: 14.68683vw;
    }

    &>#th-second-section-img {
        object-fit: contain;
        width: 55.44276vw;
        height: 42.11663vw;
        position: absolute;
        top: 15.76674vw;
        right: 5.39957vw;
    }

    &>#th-second-section-button-services {
        width: 25.91793vw;
        height: 4.31965vw;
        position: absolute;
        bottom: 15.76674vw;
        left: 39.15767vw;
        border: 0.10799vw solid var(--blue);
        text-align: center;
        color: var(--blue);
        font-weight: 600;
        font-size: 2.15983vw;
        line-height: 2.15983vw;
    }

    &>#th-second-section-button-contacts {
        width: 25.91793vw;
        height: 4.31965vw;
        position: absolute;
        bottom: 15.76674vw;
        left: 68.68251vw;
        border: 0.10799vw solid var(--orangeRed);
        text-align: center;
        color: var(--orangeRed);
        font-weight: 600;
        font-size: 2.15983vw;
        line-height: 2.15983vw;
    }
}

#th-third-section {
    width: 100vw;
    height: 83.36933vw;
    position: relative;
    overflow: hidden;

    &>#th-third-section-title {
        position: absolute;
        width: 16.84665vw;
        height: 3.56371vw;
        top: 5.61555vw;
        left: 5.39957vw;
        font-size: 3.02376vw;
        font-weight: 400;
        line-height: 3.02376vw;
        color: var(--blue);
    }

    &>#th-third-section-title-line {
        position: absolute;
        width: 70.84233vw;
        height: 0.10799vw;
        top: 7.4514vw;
        left: 23.7581vw;
        background-color: var(--tabletHorizontalBlue);
        z-index: 3;
    }

    &>#th-third-section-main-img-wrapper {
        position: absolute;
        top: 11.66307vw;
        left: 5.39957vw;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32.39741vw;
        height: 32.39741vw;
        background: rgba(0, 154, 236, 0.05);
        border: 0.10799vw solid var(--secondBlue);

        &>img {
            width: 23.7581vw;
            height: 23.7581vw;
        }
    }

    &>#th-third-section-button-order {
        position: absolute;
        top: 46.2203vw;
        left: 5.39957vw;
        width: 32.39741vw;
        height: 5.39957vw;
        border: 0.10799vw solid var(--orangeRed);
        display: flex;
        align-items: center;

        &>#th-third-section-button-order-text {
            width: 26.99784vw;
            height: 4.75162vw;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 600;
            font-size: 2.15983vw;
            line-height: 2.15983vw;
            color: var(--orangeRed);
        }

        &>#th-third-section-button-order-line {
            position: absolute;
            top: 0.53996vw;
            right: 5.39957vw;
            width: 0.10799vw;
            height: 4.31965vw;
            background-color: var(--secondBrown);
        }

        &>#th-third-section-button-order-img {
            object-fit: contain;
            width: 3.23974vw;
            height: 3.23974vw;
            position: absolute;
            top: 1.07991vw;
            right: 1.07991vw;
        }
    }

    &>#th-price-list-wrapper {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100vw;
        height: 83.36933vw;
        display: none;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        backdrop-filter: blur(1.9900497512437811vw);

        &>#th-price-list-block {
            width: 53.99568vw;
            height: 64.79482vw;
            position: absolute;
            top: 9.28726vw;
            left: 23.00216vw;
            background: rgba(0, 63, 98, 0.4);
            border: 0.24875621890547264vw solid var(--darkBlue);
            backdrop-filter: blur(1.07991vw);

            &>#th-price-list-title {
                position: absolute;
                top: 3.23974vw;
                left: 3.23974vw;
                width: 18.89849vw;
                height: 3.56371vw;
                font-size: 3.02376vw;
                font-weight: 400;
                line-height: 3.02376vw;
                color: #EAF8FF;
            }

            &>#th-price-list-x-mark {
                position: absolute;
                top: 3.88769vw;
                right: 3.23974vw;
                width: 2.15983vw;
                height: 2.15983vw;
                object-fit: contain;
                pointer-events: all;
            }

            &>#th-price-list-title-line {
                position: absolute;
                top: 8.42333vw;
                left: 3.23974vw;
                width: 47.5162vw;
                height: 0.10799vw;
                background: rgba(0, 154, 236, 0.6)
            }

            &>#th-price-list-item-wrapper {
                width: 47.5162vw;
                height: 37.90497vw;
                position: absolute;
                top: 11.66307vw;
                left: 3.23974vw;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                overflow: visible;

                &>.th-price-list-item {
                    width: 47.5162vw;
                    height: 3.56371vw;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    overflow: visible;
                    color: #EAF8FF;
                    font-size: 2.37581vw;
                    line-height: 2.37581vw;
                    font-weight: 300;

                    &>.th-price-list-service-name {
                        width: 36.71706vw;
                        height: 3.56371vw;
                        overflow: visible;
                        display: flex;
                        align-items: center;
                    }

                    &>.th-price-list-service-cost {
                        width: 6.47948vw;
                        height: 3.56371vw;
                        display: flex;
                        align-items: center;
                    }
                }
            }

            &>#th-price-list-footer-line {
                position: absolute;
                bottom: 11.98704vw;
                left: 3.23974vw;
                width: 47.5162vw;
                height: 0.10799vw;
                background: rgba(0, 154, 236, 0.6)
            }

            &>#th-price-list-footer {
                width: 47.5162vw;
                height: 7.34341vw;
                position: absolute;
                bottom: 2.4838vw;
                left: 3.23974vw;
                font-size: 1.94384vw;
                font-weight: 300;
                line-height: 2.72138vw;
                color: #EAF8FF;
                overflow: visible;
            }
        }
    }

    &>.th-third-section-button {
        position: absolute;
        left: 5.39957vw;
        width: 32.39741vw;
        height: 5.39957vw;
        border: 0.10799vw solid var(--blue);
        display: flex;
        align-items: center;

        &>.th-third-section-button-text {
            width: 26.99784vw;
            height: 4.75162vw;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 600;
            font-size: 2.15983vw;
            line-height: 2.15983vw;
            color: var(--blue);
        }

        &>.th-third-section-button-line {
            position: absolute;
            top: 0.53996vw;
            right: 5.39957vw;
            width: 0.10799vw;
            height: 4.31965vw;
            background-color: var(--tabletHorizontalBlue);
        }

        &>.th-third-section-button-img {
            object-fit: contain;
            width: 3.23974vw;
            height: 3.23974vw;
            position: absolute;
            top: 1.07991vw;
            right: 1.07991vw;
        }
    }

    &>#th-third-section-button-price-list {
        bottom: 24.19006vw;
    }

    &>#th-third-section-button-consultation {
        bottom: 16.63067vw;
    }

    &>#th-third-section-button-review {
        bottom: 9.07127vw;
    }

    &>#th-third-section-title-of-service {
        position: absolute;
        top: 11.66307vw;
        left: 39.9568vw;
        width: 29.48164vw;
        height: 6.91145vw;
        display: flex;
        align-items: center;
        font-weight: 300;
        font-size: 3.02376vw;
        line-height: 3.62851vw;
        color: var(--secondBlue);
        overflow: visible;
    }

    &>#th-third-section-text-about-service-0 {
        position: absolute;
        top: 19.65443vw;
        left: 39.9568vw;
        width: 35.20518vw;
        height: auto;
        font-weight: 300;
        font-size: 1.94384vw;
        line-height: 2.527vw;
        color: var(--secondBlue);
    }

    &>#th-third-section-text-about-service-1 {
        position: absolute;
        top: 51.94384vw;
        left: 39.9568vw;
        width: 35.20518vw;
        height: auto;
        font-weight: 300;
        font-size: 1.94384vw;
        line-height: 2.527vw;
        color: var(--secondBlue);
    }

    &>#th-third-section-top-arrow {
        position: absolute;
        object-fit: contain;
        pointer-events: all;
        width: 3.23974vw;
        height: 1.61987vw;
        top: 8.53132vw;
        right: 12.41901vw;
        z-index: 3;
    }

    &>#th-third-section-bottom-arrow {
        position: absolute;
        object-fit: contain;
        pointer-events: all;
        width: 3.23974vw;
        height: 1.61987vw;
        bottom: 4.75162vw;
        right: 12.41901vw;
        z-index: 3;
    }

    &>.th-third-section-right-services {
        width: 17.27862vw;
        height: 17.27862vw;
        position: absolute;
        right: 5.39957vw;
        background: rgba(0, 154, 236, 0.05);
        border: 0.10799vw solid var(--secondBlue);
        transition: opacity 0.3s ease-in-out, top 0.3s ease-in-out;

        &>img {
            width: 11.51944vw;
            height: 11.51944vw;
            position: absolute;
            top: 1.43952vw;
            left: 2.88013vw;
        }

        &>h3 {
            width: 11.51944vw;
            height: auto;
            position: absolute;
            left: 2.88013vw;
            bottom: 1.72786vw;
            font-weight: 300;
            font-size: 1.51188vw;
            line-height: 1.81425vw;
            color: var(--secondBlue);
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            overflow: visible;
        }
    }

    &>#th-third-section-right-services-0 {
        top: 7.4514vw;
    }

    &>#th-third-section-right-services-1 {
        top: 26.88985vw;
    }

    &>#th-third-section-right-services-2 {
        top: 46.32829vw;
    }

    &>#th-third-section-right-services-3 {
        top: 65.76674vw;
    }

    &>#th-third-section-right-services-4 {
        top: 85.20518vw;
    }

    &>.th-third-section-black-blocks {
        position: absolute;
        right: 5.39957vw;
        z-index: 2;
        width: 17.27862vw;
        height: 13.82289vw;
    }

    &>#th-third-section-black-blocks-top {
        top: 7.4514vw;
        background: linear-gradient(180deg, #000D15 43.55%, rgba(0, 13, 21, 0) 100%);
    }

    &>#th-third-section-black-blocks-bottom {
        background: linear-gradient(180deg, rgba(0, 13, 21, 0) 0%, #000D15 38.38%);
        bottom: 0;
    }

    &>#th-third-section-bootom-line {
        position: absolute;
        width: 89.20086vw;
        height: 0.10799vw;
        bottom: 3.67171vw;
        left: 5.39957vw;
        background-color: var(--tabletHorizontalBlue);
        z-index: 3;
    }
}


#th-four-section {
    position: relative;
    width: 100vw;
    height: 83.36933vw;
    overflow: visible;

    &>#th-four-section-blue-gradient {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 83.36933vw;
        background:
            radial-gradient(80.13% 43.52% at 17.01% 51.49%, rgba(0, 83, 128, 0.2) 0%, rgba(0, 0, 0, 0) 100%),
            radial-gradient(84.34% 46.98% at 89.9% 55.12%, rgba(236, 82, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
    }

    &>#th-four-section-red-gradient {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 83.36933vw;
        background:
            radial-gradient(80.13% 43.52% at 17.01% 51.49%, rgba(236, 82, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%),
            radial-gradient(84.34% 46.98% at 89.9% 55.12%, rgba(236, 82, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    &>#th-four-section-title {
        width: 32.72138vw;
        height: 3.86371vw;
        font-weight: 400;
        font-size: 3.02376vw;
        color: var(--blue);
        position: absolute;
        top: 5.39957vw;
        left: 5.39957vw;
        display: flex;
        align-items: center;
        transition: opacity 0.3s ease-in-out;
    }

    &>#th-main-send-form {
        position: absolute;
        width: 80.56156vw;
        height: 67.38661vw;
        top: 12.20302vw;
        left: 5.39957vw;
        background-color: rgba(0, 83, 128, 0.07);
        border: 0.10417vw solid rgba(0, 154, 236, 0.5);
        z-index: 2;
        overflow: visible;

        &>#th-main-send-form-title {
            font-weight: 400;
            font-size: 2.59179vw;
            color: var(--blue);
            position: absolute;
            top: 4.9676vw;
            left: 30.56156vw;
            transition: color 0.3s ease-in-out;
        }


        &>#th-input-first-name,
        &>#th-input-last-name,
        &>#th-input-phone,
        &>#th-input-email {
            width: 34.4676vw;
            height: 5.054vw;
            position: absolute;
            font-weight: 300;
            font-size: 2.15983vw;
            color: var(--blue);
            border-bottom: 0.10799vw solid var(--blue);
            padding-left: 0.83045vw;
            transition: border-bottom 0.3s ease-in-out, color 0.3s ease-in-out;

            &::placeholder {
                font-size: 2.15983vw;
                color: var(--darkBlue);
                font-weight: 300;
                transition: opacity 0.3s ease-in-out;
            }
        }

        &>.th-input-placeholder::placeholder {
            font-size: 2.15983vw;
            color: var(--orangeRed) !important;
            font-weight: 300;
            transition: opacity 0.3s ease-in-out;
        }


        &>#th-input-first-name {
            top: 13.17495vw;
            left: 3.7797vw;
        }

        &>#th-input-last-name {
            top: 13.17495vw;
            left: 41.9838vw;
        }

        &>#th-input-phone {
            top: 22.5486vw;
            left: 3.7797vw;
        }

        &>#th-input-email {
            top: 22.5486vw;
            left: 41.9838vw;
        }


        &>#th-choice-serveces-title {
            width: 34.4676vw;
            height: 5.054vw;
            position: absolute;
            color: var(--blue);
            font-weight: 300;
            font-size: 2.15983vw;
            line-height: 2.15983vw;
            top: 31.92225vw;
            left: 4.53564vw;
            display: flex;
            align-items: center;
        }


        &>#th-drop-list-wrapper {
            width: 34.88229vw;
            height: 5.054vw;
            position: absolute;
            overflow: hidden;
            top: 31.92225vw;
            right: 3.76998vw;
            z-index: 3;
            transition: height 0.3s ease-in-out;

            &>#th-choice-of-service {
                width: 34.88229vw;
                height: 5.054vw;
                position: absolute;
                border-bottom-color: rgba(2, 133, 204, 1);
                border-bottom-width: 0.10799vw;
                border-bottom-style: solid;
                padding-left: 1.07991vw;
                padding-right: 1.07991vw;
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;
                transition: border-bottom-color ease-in-out 0.3s;
                overflow: hidden;

                &>#th-choice-of-service-placeholder {
                    color: var(--darkBlue);
                    font-weight: 300;
                    font-size: 2.15983vw;
                    transition: color ease-in-out 0.3s;
                    overflow: hidden;
                }

                &>#th-choice-of-service-arrow {
                    object-fit: contain;
                    width: 1.2959vw;
                    height: 1.2959vw;
                    position: absolute;
                    right: 1.5vw;
                    transition: rotate 0.4s ease-in-out;

                    & path {
                        transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out;
                    }
                }
            }
        }

        &>#th-textarea {
            width: 73.08639vw;
            height: 12.35421vw;
            position: absolute;
            font-weight: 300;
            color: var(--blue);
            top: 41.2959vw;
            left: 3.7797vw;
            overflow: hidden;
            line-height: 300%;
            font-size: 2.15983vw;
            word-wrap: break-word;
            overflow-y: hidden;
            padding-top: 1.40389vw;


            &::placeholder {
                font-size: 2.15983vw;
                color: var(--darkBlue);
                font-weight: 300;
            }
        }

        &>#th-placeholder-textarea {
            width: 73.08639vw;
            height: 6.50022vw;
            background: transparent;
            border-bottom: 0.10799vw solid var(--blue);
            border-top: 0.10799vw solid var(--blue);
            position: absolute;
            bottom: 13.1365vw;
            left: 3.7797vw;
        }


        &>#th-send-form-submit {
            position: absolute;
            width: 25.91793vw;
            height: 4.53564vw;
            left: 27.32181vw;
            bottom: 4.92765vw;
            background-color: rgba(0, 13, 21, 0.8);
            border: 0.10799vw solid var(--deepDarkBlue);
            color: var(--darkBlue);
            font-weight: 600;
            font-size: 2.37581vw;
            line-height: 2.37581vw;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.3s ease-in-out;
        }

        &>#th-send-form-submit.th-send-form-submit-activ {
            color: var(--blue);
            background-color: #004C7B;
            border: 0.10799vw solid var(--secondBlue);
        }
    }

    &>#th-four-section-contacts {
        position: absolute;
        top: 12.20302vw;
        right: 5.39957vw;
        background: rgba(127, 45, 0, 0.1);
        border: 0.10799vw solid rgba(236, 82, 0, 0.5);
        width: 7.5594vw;
        height: 67.38661vw;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;



        &>.th-four-section-contacts {
            width: 4.31965vw;
            height: 4.31965vw;
            object-fit: contain;
            margin-left: 1.61987vw;
        }
    }

}

#th-drop-list {
    width: 33.47732vw;
    height: auto;
    position: absolute;
    z-index: 10;
    border: 0.10799vw solid #015A8C;
    border-bottom-left-radius: 0.52083vw;
    border-bottom-right-radius: 0.52083vw;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    top: 5.07559vw;
    display: inline-block;
    display: flex;
    flex-wrap: wrap;
    transition: opacity 0.3s ease-in-out;
    backdrop-filter: blur(0.41667vw);
    overflow: hidden;
    pointer-events: none;
    overflow: hidden;

    &>.th-drop-list-item {
        width: 33.47732vw;
        height: 4.31965vw;
        display: flex;
        align-items: center;
        padding-left: 0.52083vw;
        color: #01679F;
        font-size: 2.15983vw;
        text-align: left;
        font-weight: 300;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.5);
        color: #01679F;
    }

    &>.th-drop-list-item:first-child {
        padding-top: 0.41667vw;
    }

    &>.th-drop-list-item:last-child {
        padding-bottom: 0.41667vw;
    }

}

#th-five-section {
    position: relative;
    overflow: visible;
    width: 100vw;
    height: 83.36933vw;
    background: linear-gradient(0deg, #000D15, #000D15),
        linear-gradient(70.49deg, rgba(0, 154, 236, 0.2) 7.13%, rgba(0, 154, 236, 0.14) 50.94%, rgba(0, 154, 236, 0.2) 94.31%),
        linear-gradient(180deg, #000D15 0%, rgba(0, 13, 21, 0.4) 50.5%, #000D15 100%);


    &>#th-five-section-title {
        position: absolute;
        top: 5.39957vw;
        left: 5.39957vw;
        width: 16.73866vw;
        height: 3.56371vw;
        font-weight: 400;
        font-size: 3.02376vw;
        line-height: 3.02376vw;
        color: var(--blue);
    }

    &>#th-five-section-left-lines {
        position: absolute;
        width: 12.95896vw;
        height: 47.08423vw;
        top: 33.04536vw;
        left: 0;
        overflow: visible;

        &>img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

    }

    &>#th-five-section-right-lines {
        position: absolute;
        width: 12.95896vw;
        height: 47.08423vw;
        top: 0;
        right: 0;
        overflow: visible;

        &>img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

    }

    &>#th-five-section-button-left {
        position: absolute;
        object-fit: contain;
        bottom: 14.90281vw;
        right: 14.68683vw;
        width: 3.23974vw;
        height: 6.47948vw;
        pointer-events: all;
        z-index: 3;
    }

    &>#th-five-section-button-right {
        position: absolute;
        object-fit: contain;
        bottom: 14.90281vw;
        right: 5.39957vw;
        width: 3.23974vw;
        height: 6.47948vw;
        pointer-events: all;
        z-index: 3;
    }

    .th-block-with-reviews {
        width: 43.30454vw;
        min-height: 51.40389vw;
        position: absolute;
        top: 5.39957vw;
        left: 41.14471vw;
        overflow: visible;
        opacity: 1;
        transition: opacity 0.5s ease-in-out, left 0.5s ease-in-out;
    }

    #th-lower-block-with-reviews {
        top: 17.06263vw;
        left: 5.39957vw;
    }

    .th-reviews-img {
        pointer-events: none;
        width: 10.79914vw;
        height: 13.82289vw;
        border: 0.21598vw solid var(--lightBlue);
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
    }

    .th-reviews-text-wrapper {
        display: flex;
        min-height: 47.08423vw;
        width: 33.04536vw;
        position: absolute;
        left: 10.25918vw;
        top: 4.31965vw;
        flex-wrap: wrap;
        line-height: 1.75vw;
        overflow: visible;
        border: 1px solid rgba(0, 154, 236, 0.5);
        background: rgba(0, 83, 128, 0.05);

    }

    .th-reviews-name {
        font-weight: 300;
        font-size: 2.15983vw;
        color: var(--lightBlue);
        width: 21.59827vw;
        height: 2.59179vw;
        position: absolute;
        left: 11.87905vw;
        top: 1.07991vw;
    }

    .th-reviews-text {
        font-weight: 300;
        font-size: 2.15983vw;
        line-height: 2.59179vw;
        color: var(--blue);
        margin-top: 1.61987vw;
        margin-left: 1.61987vw;
    }

    .th-second-reviews-text {
        margin-top: 2.59179vw;
        font-weight: 300;
        font-size: 2.15983vw;
        line-height: 2.59179vw;
        color: var(--blue);
        margin-left: 1.61987vw;
    }
}


#th-footer-eng {
    width: 100vw;
    height: 6.47948vw;
    position: relative;
    overflow: visible;


    &>#th-footer-eng-0 {
        width: 9.71922vw;
        height: 6.47948vw;
        position: absolute;
        left: 8.31533vw;
        font-size: 2.80778vw;
        font-weight: 700;
        line-height: 2.80778vw;
        letter-spacing: 0.1em;
        color: var(--blue);
        overflow: visible;
        display: flex;
        align-items: center;
    }

    &>#th-footer-eng-1 {
        width: 13.184079601990051vw;
        height: 6.47948vw;
        position: absolute;
        left: 26.2419vw;
        font-size: 2.80778vw;
        font-weight: 700;
        line-height: 2.80778vw;
        letter-spacing: 0.1em;
        color: var(--blue);
        overflow: visible;
        display: flex;
        align-items: center;
    }

    &>#th-footer-eng-2 {
        width: 22.388059701492537vw;
        height: 6.47948vw;
        position: absolute;
        left: 42.65659vw;
        font-size: 2.80778vw;
        font-weight: 700;
        line-height: 2.80778vw;
        letter-spacing: 0.1em;
        color: var(--blue);
        overflow: visible;
        display: flex;
        align-items: center;
    }

    &>#th-footer-eng-3 {
        width: 10.199004975124378vw;
        height: 7.462686567164178vw;
        position: absolute;
        left: 64.90281vw;
        font-size: 2.80778vw;
        font-weight: 700;
        line-height: 2.80778vw;
        letter-spacing: 0.1em;
        color: var(--blue);
        overflow: visible;
        display: flex;
        align-items: center;
    }

    &>#th-footer-eng-4 {
        width: 19.402985074626866vw;
        height: 7.462686567164178vw;
        position: absolute;
        left: 79.48164vw;
        font-size: 2.80778vw;
        font-weight: 700;
        line-height: 2.80778vw;
        letter-spacing: 0.1em;
        color: var(--blue);
        overflow: visible;
        display: flex;
        align-items: center;
    }
}

#th-footer-rus {
    width: 100vw;
    height: 6.47948vw;
    position: relative;
    display: none;

    &>#th-footer-rus-0 {
        position: absolute;
        left: 10.58315vw;
        width: 9.71922vw;
        height: 6.47948vw;
        font-size: 2.80778vw;
        font-weight: 700;
        line-height: 2.80778vw;
        letter-spacing: 0.1em;
        color: var(--blue);
        font-family: 'Lato';
        display: flex;
        align-items: center;
    }

    &>#th-footer-rus-1 {
        position: absolute;
        left: 30.88553vw;
        width: 24.62686567164179vw;
        height: 6.47948vw;
        font-size: 2.80778vw;
        font-weight: 700;
        line-height: 2.80778vw;
        letter-spacing: 0.1em;
        color: var(--blue);
        font-family: 'Lato';
        display: flex;
        align-items: center;
    }

    &>#th-footer-rus-2 {
        position: absolute;
        left: 57.01944vw;
        width: 23.134328358208954vw;
        height: 6.47948vw;
        font-size: 2.80778vw;
        font-weight: 700;
        line-height: 2.80778vw;
        letter-spacing: 0.1em;
        color: var(--blue);
        font-family: 'Lato';
        display: flex;
        align-items: center;
    }

    &>#th-footer-rus-3 {
        position: absolute;
        left: 81.96544vw;
        width: 11.691542288557214vw;
        height: 6.47948vw;
        font-size: 2.80778vw;
        font-weight: 700;
        line-height: 2.80778vw;
        letter-spacing: 0.1em;
        color: var(--blue);
        font-family: 'Lato';
        display: flex;
        align-items: center;
    }
}